* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

header {
	background: #dedede;
	height: 400px;
	text-align: center;
}

header h1 {
	padding-top: 150px;
}

header h1:after {
	height: 1px;
	width: 300px;
	background: black;
}

header h3 {
	padding-top: 25px;
}