* {
  padding: 0;
  margin: 0;
}
@font-face {
  
}
nav {
  height: 600px;
  max-width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}
nav div.logo a img {
  margin: 20px 15px;
  max-width: 65px;
}
nav ul {
  position: absolute;
  height: 255px;
  top: 50%;
  margin-top: -122.5px;
  list-style: none;
}
nav ul li {
  padding-top: 5px;
  list-style: none;
  text-align: center;
  height: 60px;
  width: 90px;
  transition: all 0.4s ease-in-out;
}
nav ul li:hover {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}
nav ul li a {
  color: transparent;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
nav ul li .nav-divider {
  margin: 7px auto 0px;
  height: 1px;
  width: 26px;
  background: #fff;
  opacity: 0;
}
nav ul li p {
  font-size: 11px;
  padding-top: 5px;
}
nav ul li.active {
  background: rgba(255, 255, 255, 0.3);
}
nav ul li.active a {
  color: #fff;
}
nav ul li.active .nav-divider {
  opacity: 1;
}
.hero {
  position: absolute;
  z-index: 0;
  background: url(../img/index-hero.jpg) no-repeat center center;
  height: 100%;
  width: 62%;
  background-size: 100% 100%;
}
.hero .lang-switch {
  margin: 20px 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 130px;
}
.hero .lang-switch a {
  background: transparent;
  font-size: 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  float: right;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.hero .lang-switch a:hover {
  text-decoration: none;
  background: #fff;
  color: black;
  transition: all 0.4s ease-in-out;
}
.hero .lang-switch .en {
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.hero .lang-switch .ru {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.hero .hero-container {
  padding-top: 10%;
  width: 70.5%;
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
  color: #fff;
}
.hero .hero-container .hero-title {
  width: 50%;
  margin: 0 auto;
}
.hero .hero-container .hero-title h1 {
  font-size: 48px;
}
.hero .hero-container .hero-title p {
  text-align: right;
  font-size: 18px;
}
.hero .hero-container .colgroup figure {
  height: 180px;
  width: 33.3333333%;
  float: left;
  margin-top: 20px;
}
.hero .hero-container .colgroup figure::before {
  content: '';
  height: 1px;
}
.hero .hero-container .colgroup figure::after {
  content: '';
  height: 1px;
}
.hero .hero-container .colgroup figure img {
  margin: 20px 0;
}
.hero .hero-container .colgroup figure figcaption {
  font-family: 'Source Sans Pro';
  font-weight: 200;
}
.hero .hero-container .colgroup figure figcaption .fig-header {
  text-transform: uppercase;
  font-size: 12px;
}
.hero .hero-container .colgroup figure figcaption p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 12px;
}
.hero .hero-container .colgroup figure:nth-of-type(2) {
  margin-top: 23px;
}
.hero .hero-container div {
  text-align: center;
}
.hero .hero-container div button.btn.order-site {
  margin: 40px 0;
  width: 201px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.hero .hero-container div button.btn.order-site:hover {
  transition: all 0.4s ease-in-out;
  color: black;
  background: #fff;
}
.content {
  height: 100%;
  width: 100%;
}
.content .container-item {
  overflow: hidden;
  width: 100%;
  max-height: 622px;
}
.content .item-n1 {
  float: left;
  width: 60%;
}
.content .item-n1 .front-side img {
  width: 100%;
}
.content .item-n1 .back-side {
  background: #c3c3c3;
}
.content .item-n1 .back-side .back-side-content {
  padding: 50px;
  text-align: center;
}
.content .item-n2 {
  width: 40%;
  float: right;
}
.content .item-n2 .front-side img {
  width: 100%;
}
.content .item-n2 .back-side {
  background: #c3c3c3;
}
.content .item-n2 .back-side .back-side-content {
  padding: 50px;
  text-align: center;
}
.content .item-n3 {
  width: 40%;
  float: right;
}
.content .item-n3 .front-side img {
  width: 100%;
}
.content .item-n3 .back-side {
  background: #c3c3c3;
}
.content .item-n3 .back-side .back-side-content {
  padding: 50px;
  text-align: center;
}
.content .item-n4 {
  width: 60%;
  float: left;
}
.content .item-n4 .front-side img {
  width: 100%;
}
.content .item-n4 .back-side {
  background: #c3c3c3;
}
.content .item-n4 .back-side .back-side-content {
  padding: 50px;
  text-align: center;
}
.content .item-n5 {
  width: 40%;
  float: right;
}
.content .item-n5 .front-side img {
  width: 100%;
}
.content .item-n5 .back-side {
  background: #c3c3c3;
}
.content .item-n5 .back-side .back-side-content {
  padding: 50px;
  text-align: center;
}
.content .container p {
  margin: 20px 0;
  font-size: 14px;
  pading: 25px 0;
}
.content .container p span.red-text {
  color: #c50000;
}
.content .container div {
  text-align: center;
}
.content .container div button.btn.order-site {
  height: 40px;
  width: 201px;
  background: transparent;
  font-size: 18px;
  border: 1px solid #000;
  color: #000;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
}
.content .container div button.btn.order-site:hover {
  background: black;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
footer {
  margin-top: 1750px;
  background: black;
}
footer .left-side {
  padding: 20px 0;
  float: left;
  text-align: left;
}
footer .left-side .yellow-text {
  color: #f1c40f;
  font-size: 12px;
}
footer .left-side .white-text {
  color: #fff;
  font-size: 10px;
}
footer .left-side .white-text span.blue {
  color: #00a2ff;
}
footer .social-links {
  float: right;
}
footer .social-links ul {
  display: inline;
  list-style: none;
}
footer .social-links ul li {
  display: inline-block;
  margin-top: 45px;
}
footer .social-links ul li a div {
  height: 15px;
  width: 15px;
}
footer .social-links ul li:nth-of-type(1) a div {
  background: url(../img/social/behance.png) no-repeat center center;
  transition: all 0.5s ease-in-out;
}
footer .social-links ul li:nth-of-type(1) a div:hover {
  transition: all 0.5s ease-in-out;
  background: url(../img/social/behance-hovered.png) no-repeat center center;
}
footer .social-links ul li:nth-of-type(2) a div {
  background: url(../img/social/twitter.png) no-repeat center center;
  transition: all 0.5s ease-in-out;
}
footer .social-links ul li:nth-of-type(2) a div:hover {
  transition: all 0.5s ease-in-out;
  background: url(../img/social/twitter-hovered.png) no-repeat center center;
}
footer .social-links ul li:nth-of-type(3) a div {
  background: url(../img/social/vk.png) no-repeat center center;
  transition: all 0.5s ease-in-out;
}
footer .social-links ul li:nth-of-type(3) a div:hover {
  transition: all 0.5s ease-in-out;
  background: url(../img/social/vk-hovered.png) no-repeat center center;
}
footer .social-links ul li:nth-of-type(4) a div {
  background: url(../img/social/facebook.png) no-repeat center center;
  transition: all 0.5s ease-in-out;
}
footer .social-links ul li:nth-of-type(4) a div:hover {
  transition: all 0.5s ease-in-out;
  background: url(../img/social/facebook-hovered.png) no-repeat center center;
}
nav ul li:hover a {
  transition: all 0.4s ease-in-out;
  color: #fff;
}
nav ul li:hover .nav-divider {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  background: #fff;
}
@media screen and (max-width: 1280px) {
  .hero {
    width: 100%;
    height: 600px;
  }
  .content {
    width: 100% !important;
    height: 100%;
    position: absolute;
    margin-top: 600px;
  }
  .content .item-n1 img {
    height: auto !important;
  }
  footer {
    margin-top: 1750px;
    position: relative !important;
    background: #000 !important;
  }
}
@media screen and (max-width: 1920px) {
  .content {
    width: 38%;
    position: relative;
    float: right;
  }
  .content .item-n1 img {
    height: 271px;
  }
  .content .item-n2 img {
    height: auto !important;
  }
  .content .item-n3 img {
    height: auto;
  }
  .content .container {
    width: 100%;
  }
  footer {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer .container {
    width: 100%;
  }
}
