* {
	padding: 0;
	margin: 0;
}

@font-face {

}

nav {
	height: 600px;
	max-width: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	div.logo {
		a img {
			margin: 20px 15px;
			max-width: 65px;
		}
	}
	ul {
		position: absolute;
		height: 255px;
		top: 50%;
		margin-top: -122.5px;
		list-style: none;
		li {
			padding-top: 5px;
			list-style: none;
			text-align: center;
			height: 60px;
			width: 90px;
			transition: all .4s ease-in-out;
			&:hover {
				transition: all .4s ease-in-out;
				cursor: pointer;
				background: rgba(255,255,255,.3);
			}
			a {
				color: transparent;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
			.nav-divider {
				margin: 7px auto 0px;
				height: 1px;
				width: 26px;
				background: #fff;
				opacity: 0;
			}
			p {
				font-size: 11px;
				padding-top: 5px;
			}

		}
		li.active {
			background: rgba(255,255,255,.3);
			a {
				color: #fff;
			}
			.nav-divider {
				opacity: 1;
			}
		}
	}
}

.hero {
	position: absolute;
	z-index: 0;
	background: url(../img/index-hero.jpg) no-repeat center center;
	height: 100%;
	width: 62%;
	background-size: 100% 100%;
	.lang-switch {
		margin: 20px 15px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		max-width: 130px;
		a {
			background: transparent;
			font-size: 10px;
			color: #fff;
			border: 1px solid #fff;
			padding: 5px 10px;
			float: right;
			transition: all 0.4s ease-in-out;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				background: #fff;
				color: black;
				transition: all 0.4s ease-in-out;
			}
		}
		.en {
			border-left: none;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		.ru {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
	.hero-container{
		padding-top: 10%;
		width: 70.5%;
		margin: 0 auto;
		min-height: 400px;
		text-align: center;
		color: #fff;
		.hero-title {
			width: 50%;
			margin: 0 auto;
			h1 {
				font-size: 48px;
			}
			p{
				text-align: right;
				font-size: 18px;
			}
		}
		.colgroup {
			figure {
				height: 180px;
				width: 33.3333333%;
				float: left;
				margin-top: 20px;
				&::before {
					content: '';
					height: 1px;
				}
				&::after {
					content: '';
					height: 1px;
				}
				img {
					margin: 20px 0;
				}
				figcaption {
					font-family: 'Source Sans Pro';
					font-weight: 200;
					.fig-header {
						text-transform: uppercase;
						font-size: 12px;
					}
					p {
						max-width: 90%;
						margin: 0 auto;
						font-size: 12px;
					}
				}
			}
			figure:nth-of-type(2) {
				margin-top: 23px;
			}
		}
		div {
			text-align: center;
			button.btn.order-site {
				margin: 40px 0;
				width: 201px;
				height: 40px;
				background: transparent;
				border: 1px solid #fff;
				border-radius: 0px;
				color: #fff;
				transition: all .4s ease-in-out;
				&:hover {
					transition: all .4s ease-in-out;
					color: black;
					background: #fff;
				}
			}
		}
	}
}

.content {
	height: 100%;
	width: 100%;
	.container-item {
		overflow: hidden;
		width: 100%;
		max-height: 622px;
	}
	.item {

	}
	.item-n1 {
		float: left;
		width: 60%;
		.front-side {
			img {
				width: 100%;				
			}
		}
		.back-side {
			background: #c3c3c3;
			.back-side-content {
				padding: 50px;
				text-align: center;
			}
		}
	}
	.item-n2 {
		width: 40%;
		float: right;
		.front-side {
			img {
				width: 100%;				
			}
		}
		.back-side {
			background: #c3c3c3;
			.back-side-content {
				padding: 50px;
				text-align: center;
			}
		}
	}
	.item-n3 {
		width: 40%;
		float: right;
		.front-side {
			img {
				width: 100%;				
			}
		}
		.back-side {
			background: #c3c3c3;
			.back-side-content {
				padding: 50px;
				text-align: center;
			}
		}
	}
	.item-n4 {
		width: 60%;
		float: left;
		.front-side {
			img {
				width: 100%;
			}
		}
		.back-side {
			background: #c3c3c3;
			.back-side-content {
				padding: 50px;
				text-align: center;
			}
		}
	}
	.item-n5 {
		width: 40%;
		float: right;
		.front-side {
			img {
				width: 100%;
			}
		}
		.back-side {
			background: #c3c3c3;
			.back-side-content {
				padding: 50px;
				text-align: center;
			}
		}
	}
	.container {
		p {
			margin: 20px 0;
			font-size: 14px;
			pading: 25px 0;
			span.red-text {
				color: #c50000;
			}
		}
		div {
			text-align: center;
			button.btn.order-site {
				height: 40px;
				width: 201px;
				background: transparent;
				font-size: 18px;
				border: 1px solid #000;
				color: #000;
				border-radius: 0px;
				transition: all .4s ease-in-out;
				&:hover {
					background: black;
					color: #fff;
					transition: all .4s ease-in-out;
				}
			}
		}
	}
}

footer {
	margin-top: 1750px;
	background: black;
	.left-side {
		padding: 20px 0;
		float: left;
		text-align: left;
		.yellow-text {
			color: #f1c40f;
			font-size: 12px;
		}
		.white-text {
			color: #fff;
			font-size: 10px;
			span.blue {
				color: #00a2ff;
			}
		}
	}
	.social-links {
		float: right;
		ul {
			display: inline;
			list-style: none;
			li {
				display: inline-block;
				margin-top: 45px;
				a div{
					height: 15px;
					width: 15px;
				}
			}
			li:nth-of-type(1) a div{
				background: url(../img/social/behance.png) no-repeat center center;
				transition :all .5s ease-in-out;
				&:hover {
					transition :all .5s ease-in-out;
					background: url(../img/social/behance-hovered.png) no-repeat center center;
				}
			}
			li:nth-of-type(2) a div{
				background: url(../img/social/twitter.png) no-repeat center center;
				transition :all .5s ease-in-out;
				&:hover {
					transition :all .5s ease-in-out;
					background: url(../img/social/twitter-hovered.png) no-repeat center center;
				}
			}
			li:nth-of-type(3) a div{
				background: url(../img/social/vk.png) no-repeat center center;
				transition :all .5s ease-in-out;
				&:hover {
					transition :all .5s ease-in-out;
					background: url(../img/social/vk-hovered.png) no-repeat center center;
				}
			}
			li:nth-of-type(4) a div{
				background: url(../img/social/facebook.png) no-repeat center center;
				transition :all .5s ease-in-out;
				&:hover {
					transition :all .5s ease-in-out;
					background: url(../img/social/facebook-hovered.png) no-repeat center center;
				}
			}
		}
	}
}

nav ul li:hover a{
	transition: all .4s ease-in-out;
	color: #fff;
}

nav ul li:hover .nav-divider {
	transition: all .4s ease-in-out;
	opacity: 1;
	background: #fff;
}

@media screen and (max-width: 1280px) {
	.hero {
		width: 100%;
		height: 600px;
	}
	.content {
		width: 100% !important;
		height: 100%;
		position: absolute;
		margin-top: 600px;
		.item-n1 img{
			height: auto !important;
		}
	}
	footer {
		margin-top: 1750px;
		position: relative !important;
		background: #000 !important;

	}
}
@media screen and (max-width: 1920px) {
	.content {
		width: 100%-62%;
		position: relative;
		float: right;
		.item-n1 img {
			height: 271px;
		}
		.item-n2 img{
			height: auto !important;
		}
		.item-n3 img {
			height: auto;
		}
		.container {
			width: 100%;
		}
	}
	footer {
		background: transparent;
		position: absolute;
		bottom: 0;
		left: 0;
		.container {
			width: 100%;
		}
	}
}