* {
	margin: 0;
	padding: 0;
}

/*======================*/

		/* Fonts */

/*======================*/

@font-face {
    font-family: 'latothin';
    src: url('../fonts/lato-thin.eot');
    src: url('../fonts/lato-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-thin.woff') format('woff'),
         url('../fonts/lato-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium.eot');
    src: url('../fonts/lato-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-medium.woff') format('woff'),
         url('../fonts/lato-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold.eot');
    src: url('../fonts/lato-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibold.woff') format('woff'),
         url('../fonts/lato-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy';
    src: url('lato-heavy.eot');
    src: url('lato-heavy.eot?#iefix') format('embedded-opentype'),
         url('lato-heavy.woff') format('woff'),
         url('lato-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latothin_italic';
    src: url('../fonts/lato-thinitalic.eot');
    src: url('../fonts/lato-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-thinitalic.woff') format('woff'),
         url('../fonts/lato-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic.eot');
    src: url('../fonts/lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lightitalic.woff') format('woff'),
         url('../fonts/lato-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic.woff') format('woff'),
         url('../fonts/lato-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium_italic';
    src: url('../fonts/lato-mediumitalic.eot');
    src: url('../fonts/lato-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-mediumitalic.woff') format('woff'),
         url('../fonts/lato-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latosemibold_italic';
    src: url('../fonts/lato-semibolditalic.eot');
    src: url('../fonts/lato-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibolditalic.woff') format('woff'),
         url('../fonts/lato-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic.eot');
    src: url('../fonts/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolditalic.woff') format('woff'),
         url('../fonts/lato-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy_italic';
    src: url('../fonts/lato-heavyitalic.eot');
    src: url('../fonts/lato-heavyitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-heavyitalic.woff') format('woff'),
         url('../fonts/lato-heavyitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic.eot');
    src: url('../fonts/lato-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-blackitalic.woff') format('woff'),
         url('../fonts/lato-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-hairline.eot');
    src: url('../fonts/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline.woff') format('woff'),
         url('../fonts/lato-hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/lato-hairlineitalic.eot');
    src: url('../fonts/lato-hairlineitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairlineitalic.woff') format('woff'),
         url('../fonts/lato-hairlineitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
	height: 160px;
	background: #fff;
}

/*======================*/

/* homepage and main styles */

/*======================*/

body {
	font-family: 'latobold';
}

.container {
	width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.logo {
	float: left;
}

.h-center {
	padding-top: 40px;
	font-size: 40px;
	width: 650px;
	text-align: center;
	float: left;
}

.clearfix {
	overflow: auto;
}

.font-30 {
	font-size: 30px;
	font-family: 'latomedium';
}

.bold {
	font-weight: bolder;
}

.contacts {
	float: right;
	width: 300px;
	height: 100px;
	display: block;
	padding-top: 40px;
	font-weight: bolder;
	font-size: 30px;
}
.contacts .bold {
	padding-bottom: 10px;
}
.contacts .order-a-call {
	cursor: pointer;
	position: relative;
	top: 10px;
	height: 43px;
	width: 233px;
	background: url(../img/ordercall.png) no-repeat center center;
	padding: 10px 25px 12px 25px;
	font-size: 25px;
	font-family: 'latomedium';
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.nav {
	position: relative;
	width: 100%;
	background: none repeat scroll 0% 0% #009343;
	font-size: 16px;
	height: 50px;
	box-shadow: 0px 3px 10px #000;
	z-index: 10;
}

.nav ul {
	display: inline;
}

.nav ul li {
	height: 100%;
	margin-left: -4px;
	padding: 15px 0px 16px 0px;
	display: inline-block;
	border-right: 2px solid #80c9a1;
}

@-moz-document url-prefix() {
	.nav ul li {
		height: 100%;
		margin-left: -4px;
		padding: 15px 0 14px 0;
	}
}

.nav ul li:last-child {
	border-right: none;
}

.nav ul li a {
	color: #Fff;
	text-decoration: none;
	padding: 16px 25px;
}

.nav ul li.active {
	background: #017bc4;
}

.nav ul li:hover {
	background: #017bc4;
}

.nav ul li a:after {
	height: 100%;
	width: 1px;
	background: #80c9a1;
}

.hero {
	height: 460px;
	width: 100%;
	box-shadow: 0px 2px 15px #333;
}

.hero .slider {
	position: absolute;
	z-index: 0;
}

.hero .form-title {
	position: absolute;
	margin-top: 200px;
	z-index: 12;
	background: url(../img/form-title.png) no-repeat center center;
	width: 756px;
	height: 174px;
}

.hero .form-title p{
	font-size: 28px;
	font-family: 'latobold';
	text-align: center;
	color: #017bc4;
	text-shadow: 0px 1px 2px #777;
	padding-right: 40px;
	padding-top: 20px;
}

.hero .form-title p span {
	font-size: 43px;
	font-family: 'latoblack';
}
.hero form {
	position: relative;
	margin-top: 50px;
	float: right;
	height: 365px;
	max-width: 370px;
	text-align: center;
	z-index: 1;
}

.hero form .form-header {
	font-family: 'latobold';
	font-size: 35px;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #777;
}

.hero form .form-bold {
	font-size: 41px;
	font-family: 'latoblack';
}
.hero form input[type=text] {
	border-radius: 3px;
	margin-top: 38px;
	width: 316px;
	height: 43px;
	padding-left: 52px;
	font-size: 20px;
	font-family: 'latoregular';
}
.hero form input[type=text]:first-child {
	margin-top: 50px;
}

input[type=text] {
	box-shadow: 0px 1px 2px #777, 1px 0px 2px #777, 0px -1px 2px #777, -1px 0px 2px #777;
	transition: all 0.4s ease-in-out;
	border: none;
	margin: 0 auto;
}
input[type=text]:focus{
	outline: none;
}

input[type=text]::-webkit-input-placeholder {
	color: #4c4c53;
}

input[type=text]:focus::-webkit-input-placeholder {
	transition: all 0.4s ease-in-out;
	opacity: 0;
}

input[name=username] {
	background: #fff url(../img/username.png) no-repeat 13px 8px;
}
input[name=phone] {
	background: #fff url(../img/phone.png) no-repeat 10px 8px;
}
input[type=submit] {
	height: 51px;
	width: 309px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 30px;
	font-family: 'latoblack';
	text-shadow: 0px 1px 2px #777;
	cursor: pointer;
	margin-top: 30px;
	background: green url(../img/submit.png) no-repeat center center;
}
.our-advantages {
	height: 415px;

}

.our-advantages p{
	padding-top: 50px;
	text-align: center;
	font-size: 35px;
	font-family: 'latoblack';
}

.our-advantages figure {
	float: left;
	width: 220px;
	height: 220px;
	text-align: center;
	margin-top: 40px;
}

.our-advantages figure figcaption {
	padding-top: 10px;
	color: #000;
	font-family: 'latobold';
	font-size: 18px;
}

.green {
	color: #009343;
}

.bg-img {
	background: #fff url(../img/bg-img.png) no-repeat center center;
	background-size: 100% 100%;
	position: relative;
	z-index: 0;
}

.works {
	height: 810px;
}

.works p {
	color: #fff;
	font-size: 35px;
	font-family: 'latobold';
	text-align: center;
	padding-top: 30px;
}

.works .row {
	float: left;
	text-align: center;
	margin-top: 100px;
}

.works .row img {
	width: 295px;
	height: 225px;
	border: 5px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 15px #333;
}

.works .row .fancybox img {
	cursor: pointer;
	margin-left: 60px;
}

.first-img img {
	margin-left: 0 !important;
}

.works .row:last-child {
	margin-top: 40px;
	text-align: center;
}

.row:last-child img:first-child {
	margin-left: 36px;
	  box-shadow: 0px 5px 6px -1px rgba(0,0,0,.8);
	  -moz-box-shadow: 0px 5px 6px -1px rgba(0,0,0,.8);
	 -o-box-shadow: 0px 5px 6px -1px rgba(0,0,0,.8);
	  -webkit-box-shadow: 0px 5px 6px -1px rgba(0,0,0,.8);
}

.row:last-child a.last-img img{
	margin-left: 60px;
}

.how-we-work {
	height: 470px;
}

.how-we-work p {
	font-size: 35px;
	font-family: 'latoblack';
	text-align: center;
	color: #000;
}
.how-we-work .container {
	text-align: center;
}

.how-we-work img {
	margin-top: 30px;
}

.blue {
	color: #017bc4;
}

.about-us {
	margin-top: 50px;
}

.about-us .container {
	font-family: 'latoregular';
	font-size: 18px;
}

.about-us p.header {
	padding-bottom: 15px;
	text-align: center;
	font-family: 'latoblack';
	font-size: 35px;;
}

.about-us .bl-header {
	margin-top: 20px;
	font-size: 22px;
	font-family: 'latoblack';
	text-align: center;
}

.about-us p {
	text-align: left;
	font-size: 18px;
	font-family: 'latoregular';
}

.comments {
	background: url(../img/bg-comments.png) no-repeat center center;
	height: 1210px;
}

.comments p.header {
	padding-top: 170px;
	color: #fff;
	text-align: center;
	font-size: 35px;
	font-family: 'latoblack';
}

.comments .row {
	width: 100%;
	height: 350px;
}

.comments .row figure {
	float: left;
	overflow: auto;
	width: 50%;
	text-align: center;
}

.comments .row figure figcaption {
	margin: 20px auto;
	padding: 10px;
	max-width: 433px;
	font-size: 16px;
	color: #fff;
	font-family: 'latoregular';
	border: 1px dashed #fff;
	border-radius: 5px;
}

.comments .row figure figcaption .pers {
	font-size: 18px;
	font-family: 'latobold';
	text-align: center;
	padding: 10px 0;
}

.comments .row figure img[alt=comment]{
	padding: 0;
	margin: 0 !important;
}

.comments .row {
	padding-top: 50px;
}

.footer-form {
	position: absolute;
	top: 4025px;
	width: 403px;
	left: 50%;
	margin-left: -221.5px;
	background-size: 100% 100%;
	background: url(../img/form-bg.png) repeat center center;
	padding: 25px;
	box-shadow: 0px 2px 5px #333, 2px 0px 5px #333, 0px -2px 5px #333, -2px 0px 5px #333;
}
.footer-form .form-header {
	text-align: center;
	font-size: 40px;
	font-family: 'latoblack';
	color: #fff;
	text-shadow: 0px 2px 5px #777;
}

.footer-form input[type=text] {
	margin-left: 20px;
	border-radius: 3px;
	margin-top: 38px;
	width: 316px;
	height: 43px;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'latoregular';
}

.footer-form input[type=submit] {
	width: 378px;
	background-size: 100% 100%;
	margin-left: 15px;
}

.footer {
	margin-top: 150px;
}

.footer > .container {
	overflow: visible;
}

.footer .left-side {
	padding-top: 50px;
	float: left;
	font-size: 18px;
	font-family: 'latoregular';
	text-align: left;
}
.footer .right-side {
	float: right;
	padding-top: 50px;
	color: #000;
	font-size: 30px;
	font-family: 'latobold';
}

.footer img {
	width: 100%;
}

/* modal window */

#overlay {
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
}

#modal {
	display: none;
	position: fixed;
	z-index:1001;
	top: 50%;
	left: 50%;
	height: 403px;
	margin-left: -225px;
	margin-top: -251px;
}

#modal form {
	width: 403px;
	background-size: 100% 100%;
	background: url(../img/form-bg.png) repeat center center;
	padding: 25px;
	box-shadow: 0px 2px 5px #333, 2px 0px 5px #333, 0px -2px 5px #333, -2px 0px 5px #333;
}

#modal .form-header {
	text-align: center;
	font-size: 40px;
	font-family: 'latoblack';
	color: #fff;
	text-shadow: 0px 2px 5px #777;
}

#modal input[type=text] {
	margin-left: 20px;
	border-radius: 3px;
	margin-top: 38px;
	width: 316px;
	height: 43px;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'latoregular';
}

#modal input[type=submit] {
	width: 378px;
	background-size: 100% 100%;
	margin-left: 15px;
}

/*===========================*/

		/* Contacts */

/*===========================*/	

.contact-us {

}

.contact-us .header {
	font-size: 35px;
	font-family: 'latoblack';
	text-align: center;
	padding: 35px 0;
}

.contact-us .form {
	float: left;
}

.contact-us .form form {
	margin-left: 5px;
	margin-bottom: 5px;
	width: 403px;
	background-size: 100% 100%;
	background: url(../img/form-bg.png) repeat center center;
	padding: 25px;
	box-shadow: 0px 2px 5px #333, 2px 0px 5px #333, 0px -2px 5px #333, -2px 0px 5px #333;
}

.contact-us .form form .form-header {
	text-align: center;
	font-size: 40px;
	font-family: 'latoblack';
	color: #fff;
	text-shadow: 0px 2px 5px #777;
}

.contact-us .form form input[type=text] {
	margin-left: 20px;
	border-radius: 3px;
	margin-top: 38px;
	width: 316px;
	height: 43px;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'latoregular';
}

.contact-us .form form input[type=submit] {
	width: 378px;
	background-size: 100% 100%;
	margin-left: 15px;
}

.contact-us .address {
	float: left;
	font-family: 'latoregular';
	padding: 150px 30px;
	text-align: left;
	font-size: 35px;
}

.contact-us .address .green {
	font-family: 'latobold';
}

/*==============================*/

		/* Works page */

/*==============================*/

.the-works {
	min-height: 1000px;
}

.the-works p.header {
	text-align: center;
	font-size: 35px;
	font-family: 'latoblack';
	padding: 50px 0px 0 0;
}

.the-works > .container > .row {
	display: block;
	padding-top: 50px;
	width: 100%;
	overflow: auto;
	height: 285px;
}

.the-works > .container > .row > .child-2 > img, .the-works > .container > .row > .child-3 > img{
	margin-left: 65px !important;	
}

.the-works .row img {
	height: 250px;
	width: 295px;
	border: 5px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 15px #333;
	float: left;

}

.the-works .row:last-child img:first-child{
	padding: 0;
}

.footer.altpage {
	position: relative;
	top: 0;
}

.footer-form.wide {
	width: 800px;
	left: 50%;
	margin-left: -425px;
	position: relative;
	top: 50px;
	margin-bottom: 50px;
}

.footer-form.wide input[type=text] {
	width: 700px;
}

.footer-form.wide input[type=submit] {
	width: 580px;
	margin-left: 110px;
}

/*==============================*/

		/* Action */

/*==============================*/

.actions .row {
	overflow: auto;
	height: auto;
}

.actions .header {
	text-align: center;
	font-size: 35px;
	font-family: 'latoblack';
	color: #000;
	padding: 50px 0;
}

.actions > .container > .row > img {
	float: left;
}

.actions > .container > .row > h2 {
	text-align: left;
	max-width: 700px;
}
.actions > .container > .row > h3 {
	text-align: left;
	max-width: 700px;
}
.actions > .container > .row:last-child img:first-child {
	padding: 0;
}

/*==============================*/

		/* photo-prnit */

/*==============================*/

.photo-print p.header{
	font-size: 35px;
	color: #000;
	font-family: 'latoblack';
	padding: 50px 0;
	text-align: center;
}

.catalog_item {
	float: left;
}


.photo-print p.row-header {
	text-align: center;
	font-size: 18px;
	padding: 25px 0;
}
.photo-print > .container > .row > a > img, .photo-print > .container > .row > a > img {
	margin-left: 40px;
}
.catalog_item a.button:hover {
	color: #fff;
	background-color: RGB(35,184,267);}
.catalog_item a.button:active {
	background-color: RGB(0,149,232);}
.catalog_item a.button {
	transition: all .3s;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 5px;
	width: 154px;
	border: 1px solid RGB(35,184,267);
	background-color: RGB(0,149,232);
	display: inline-block;
}

.catalog_item a.show_catalog {
	  margin-left: 30px;
	  margin-top: 15px;
}

.catalog_item a.fancybox{
	display:block;
	text-align: -webkit-right;
}

.first-child > img {
	padding-left: 0 !important;
}


/*==============================*/

		/* Calculator */

/*==============================*/

.the-calc {
	min-height: 250px;
}

.the-calc form {
	width: 100%;
	background: url(../img/form-bg.png) repeat center center;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #777, 1px 0px 2px #777, 0px -1px 2px #777, -1px 0px 2px #777;
	height: 350px;
}

.the-calc form .formblock {
	width: 325px;
	padding: 60px 20px;
	float: left;
}

.the-calc form .formblock label {	
	color: #fff;
	font-family: 'latoregular';
	font-size: 16px;
	text-align: left;
	margin-bottom: 35px;
	margin-right:35px;
	display: inline-block;
}

.the-calc form .formblock input, .the-calc form .formblock select {
	padding: 5px;
	float: right;
}

.the-calc .header {
	font-size: 35px;
	font-family: 'latoblack';
	padding: 50px 0px;
	text-align: center;
}

button#submit {
	border: none;
	border-radius: 5px;
	color: #Fff;
	font-size: 20px;
	font-family: 'latoblack';
	margin-top: 30px;
	cursor: pointer;
	width: 300px;
	height: 50px;
	background: url(../img/submit.png) no-repeat center center;
	background-size: 100% 100%;
}


.result_box {
	margin-top: -20px;
	font-size: 30px;
	color: #fff;
	font-family: 'latoblack';
}
/*==============================*/

		/* choose color */

/*==============================*/

.container.middle {
	text-align: center;
	margin-top: 50px;
}

input[type=number] {
	width: 150px;
}

select {
	width: 164px;
}

.lastrow {
	margin-left: 0 !important;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;max-width:100%;height:auto}
.carousel{position:relative}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-inner>.item{position:relative;display:none;-webkit-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left}.carousel-inner>.item>a>img,.carousel-inner>.item>img{line-height:1}@media all and (transform-3d),(-webkit-transform-3d){.carousel-inner>.item{-webkit-transition:-webkit-transform .6s ease-in-out;-o-transition:-o-transform .6s ease-in-out;transition:transform .6s ease-in-out;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;perspective:1000}.carousel-inner>.item.active.right,.carousel-inner>.item.next{left:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}.carousel-inner>.item.active.left,.carousel-inner>.item.prev{left:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.carousel-inner>.item.active,.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right{left:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}.carousel-inner>.active.right{left:100%}.carousel-control{position:absolute;top:0;bottom:0;left:0;width:15%;font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);filter:alpha(opacity=50);opacity:.5}.carousel-control.left{background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);background-repeat:repeat-x}.carousel-control.right{right:0;left:auto;background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);background-repeat:repeat-x}.carousel-control:focus,.carousel-control:hover{color:#fff;text-decoration:none;filter:alpha(opacity=90);outline:0;opacity:.9}.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{position:absolute;top:50%;z-index:5;display:inline-block}.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{left:50%;margin-left:-10px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{right:50%;margin-right:-10px}.carousel-control .icon-next,.carousel-control .icon-prev{width:20px;height:20px;margin-top:-10px;font-family:serif;line-height:1}.carousel-control .icon-prev:before{content:'\2039'}.carousel-control .icon-next:before{content:'\203a'}.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none}.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000 \9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px}.carousel-indicators .active{width:12px;height:12px;margin:0;background-color:#fff}.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}.carousel-caption .btn{text-shadow:none}@media screen and (min-width:768px){.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{width:30px;height:30px;margin-top:-15px;font-size:30px}.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{margin-left:-15px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{margin-right:-15px}.carousel-caption{right:20%;left:20%;padding-bottom:30px}.carousel-indicators{bottom:20px}}