* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
}
iframe {
  border: 0px;
}
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.content:after,
.content:before {
  content: '';
  display: table;
  clear: both;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.openForm {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.openForm:hover {
  cursor: pointer;
  background: #96d98b;
}
header {
  color: #fff;
  padding-top: 30px;
  height: 800px;
  background: url(../img/firstscreen.jpg) no-repeat center center;
  background-size: cover;
}
header nav {
  color: #fff;
}
header nav .logo {
  text-transform: uppercase;
  float: left;
  font-size: 55px;
  font-weight: 100;
  color: #fff;
}
header nav .logo .blue-ultra {
  font-weight: 900;
  color: #76aee3;
}
header nav .description {
  float: left;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  padding-top: 9px;
  padding-left: 20px;
}
header nav .phone {
  float: right;
  background: url(../img/field_phone_mobile.png) no-repeat;
  background-position: 0px 5px;
  padding-left: 30px;
}
header nav .phone .tel {
  font-size: 24px;
  font-weight: 700;
}
header nav .phone .undertel {
  font-size: 16px;
  padding-top: 5px;
}
header nav .phone .undertel .underline {
  text-decoration: underline;
}
header h1 {
  padding-top: 150px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
header h1::after {
  display: block;
  min-height: 1px;
  content: '';
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  background: #76aee3;
}
header .underheader {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
header .bottom-block {
  padding-top: 95px;
}
header .bottom-block iframe {
  float: left;
  padding-right: 30px;
}
header .bottom-block form {
  height: 320px;
  float: left;
  color: #fff;
}
header .bottom-block form p {
  font-size: 22px;
}
header .bottom-block form #clock {
  margin-top: 10px;
  font-size: 22px;
  color: #fff;
}
header .bottom-block form #clock #days,
header .bottom-block form #clock #hours,
header .bottom-block form #clock #mins,
header .bottom-block form #clock #sec {
  color: #fff;
  font-size: 40px !important;
}
header .bottom-block form input[type=text] {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  font-style: italic;
  color: #aba1a5;
  border: 1px solid #aba1a5;
  border-radius: 5px;
}
header .bottom-block form input[type=text]:focus {
  outline: none;
  font-style: normal;
  color: #fff;
  border: 1px solid #fff;
}
header .bottom-block form input[type=submit] {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
header .bottom-block form input[name=field_name_first],
header .bottom-block form input[name=field_email] {
  margin-top: 30px;
  height: 20px;
  width: 250px;
  padding: 15px 10px;
  float: left;
}
header .bottom-block form input[name=field_email] {
  margin-left: 20px;
}
header .bottom-block form input[name=field_phone_mobile] {
  margin-top: 30px;
  height: 20px;
  width: 542px;
  padding: 15px 10px;
}
header .bottom-block form input[type=submit] {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 30px;
  cursor: pointer;
}
header .bottom-block form input[type=submit]:hover {
  background: #9ada9a;
  cursor: pointer;
}
.programm-of-the-course {
  height: 360px;
}
.programm-of-the-course .content {
  padding-top: 75px;
  width: 550px;
}
.programm-of-the-course .content img {
  float: left;
  padding-right: 20px;
}
.programm-of-the-course .content h1 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
}
.programm-of-the-course .content h1::after {
  display: block;
  content: '';
  min-height: 1px;
  height: 2px;
  margin: 25px 0 0;
  float: left;
  background: #000;
  width: 70px;
}
.programm-of-the-course .content p {
  padding-left: 20px;
  margin-top: 45px;
  font-size: 24px;
  font-weight: 400;
  color: #54585c;
}
.programm-of-the-course .content p .green {
  color: #73cd64;
}
.theory-n-practice {
  height: 2590px;
}
.theory-n-practice .top-plank {
  width: 100%;
  text-transform: uppercase;
}
.theory-n-practice .top-plank .left-side {
  height: 65px;
  background: #5081af;
  width: 50%;
  float: left;
}
.theory-n-practice .top-plank .left-side::after {
  display: block;
  content: '';
  position: absolute;
  background: url(../img/arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 11px;
  height: 60px;
  left: 50%;
  margin-top: -41px;
}
.theory-n-practice .top-plank .left-side .content {
  padding-top: 20px;
  color: #fff;
  width: 585px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.theory-n-practice .top-plank .right-side {
  float: left;
  height: 65px;
  background: #76aee3;
  width: 50%;
  color: #fff;
}
.theory-n-practice .top-plank .right-side .content {
  padding-top: 20px;
  width: 585px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.theory-n-practice .row {
  width: 100%;
  height: 280px;
}
.theory-n-practice .row .left,
.theory-n-practice .row .right {
  width: 50%;
  height: 280px;
  float: left;
}
.theory-n-practice .row .left .content,
.theory-n-practice .row .right .content {
  width: 585px;
}
.theory-n-practice .row .left h1 {
  color: #5081af;
  font-size: 80px;
  font-weight: 100;
  padding: 20px 0;
  text-align: right;
}
.theory-n-practice .row .left p {
  font-size: 18px;
  font-weight: 400;
}
.theory-n-practice .row .right h1 {
  color: #5081af;
  font-size: 30px;
  padding: 70px 10px 0;
  font-weight: 100;
}
.theory-n-practice .row .right p {
  font-size: 19px;
  font-weight: 400;
  padding-top: 30px;
}
.theory-n-practice .row:nth-child(odd) .left {
  background: #f1f1f1;
}
.theory-n-practice .row:nth-child(even) .left {
  background: #e3e3e3;
}
.theory-n-practice .row:nth-child(odd) .right {
  background: #f9f9f9;
}
.theory-n-practice .row:nth-child(even) .right {
  background: #f1f1f1;
}
.first-form {
  text-align: center;
  color: #fff;
  height: 470px;
  background: url(../img/first-form.jpg) no-repeat center center;
  background-size: cover;
}
.first-form h1 {
  padding-top: 62px;
  font-size: 40px;
  font-weight: 700;
}
.first-form h1::after {
  min-height: 1px;
  height: 2px;
  width: 70px;
  display: block;
  content: '';
  margin: 20px auto;
  background: #fff;
}
.first-form p {
  font-size: 24px;
  font-weight: 400;
}
.first-form .openForm {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.first-form .openForm:hover {
  background: #96d98b;
}
.for-you-purpose {
  height: 940px;
}
.for-you-purpose .content {
  text-align: center;
}
.for-you-purpose .content h1 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
}
.for-you-purpose .content h1::after {
  content: '';
  min-height: 1px;
  height: 2px;
  margin: 30px auto;
  width: 70px;
  display: block;
  background: #000;
}
.for-you-purpose .content .purpose-row {
  padding-top: 10px;
  height: 305px;
}
.for-you-purpose .content .purpose-row .block {
  float: left;
  width: 328px;
  padding-left: 62px;
  text-align: left;
}
.for-you-purpose .content .purpose-row .block h3 {
  padding: 20px 0 50px;
  font-size: 24px;
  font-weight: 500;
}
.for-you-purpose .content .purpose-row .block p {
  font-size: 18px;
  color: #656a6e;
}
.for-you-purpose .content .purpose-row .vk {
  background: url(../img/vk.png) no-repeat;
  background-position: 0px 20px;
}
.for-you-purpose .content .purpose-row .network {
  background: url(../img/network.png) no-repeat;
  background-position: 0 20px;
}
.for-you-purpose .content .purpose-row .video {
  background: url(../img/video.png) no-repeat;
  background-position: 0 20px;
}
.for-you-purpose .content .purpose-row .guests {
  background: url(../img/guests.png) no-repeat;
  background-position: 0 20px;
}
.for-you-purpose .content .purpose-row .direct-contact {
  background: url(../img/direct-contact.png) no-repeat;
  background-position: 0 20px;
}
.for-you-purpose .content .purpose-row .templates {
  background: url(../img/templates.png) no-repeat;
  background-position: 0 20px;
}
.for-you-purpose .content .openForm {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.for-you-purpose .content .openForm:hover {
  background: #96d98b;
}
.block-with-notebook {
  color: #fff;
  background: url(../img/block-with-notebook.jpg) no-repeat center center;
  background-size: cover;
  height: 780px;
  text-align: center;
}
.block-with-notebook h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
}
.block-with-notebook h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  background: #fff;
  margin: 30px auto;
}
.block-with-notebook p {
  font-size: 24px;
  font-weight: 400;
}
.block-with-notebook img {
  padding-top: 50px;
}
.reviews {
  color: #000;
  text-align: center;
  height: 880px;
}
.reviews .content h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
}
.reviews .content h1::after {
  display: block;
  content: '';
  height: 2px;
  width: 70px;
  background: #000;
  margin: 30px auto;
}
.reviews .content .left-block,
.reviews .content .right-block {
  float: left;
  text-align: left;
  width: 50%;
}
.reviews .content .left-block .review,
.reviews .content .right-block .review {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews .content .left-block .review img,
.reviews .content .right-block .review img {
  float: left;
  padding-right: 50px;
}
.reviews .content .left-block .review .name,
.reviews .content .right-block .review .name {
  padding-top: 15px;
  font-size: 24px;
  color: #303234;
  font-weight: 500;
}
.reviews .content .left-block .review p,
.reviews .content .right-block .review p {
  font-style: italic;
  font-weight: 300;
}
.block-with-too-many-pictures {
  height: 4625px;
  background: #f9f9f9;
  text-align: center;
}
.block-with-too-many-pictures .content h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
  color: #303234;
}
.block-with-too-many-pictures .content h1::after {
  display: block;
  content: '';
  height: 2px;
  width: 70px;
  margin: 30px auto 70px;
  background: #303234;
}
.block-with-too-many-pictures .content .picture-row {
  height: 340px;
  margin-bottom: 40px;
}
.block-with-too-many-pictures .content .picture-row .picture-block {
  width: 370px;
  margin-right: 30px;
  float: left;
}
.block-with-too-many-pictures .content .picture-row .picture-block img {
  width: 370px;
  height: 200px;
}
.block-with-too-many-pictures .content .picture-row .picture-block .data {
  margin-top: -5px;
  width: 340px;
  height: 100px;
  background: #fff;
  text-align: left;
  padding: 20px 15px;
}
.block-with-too-many-pictures .content .picture-row .picture-block .data h3 {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #303234;
}
.block-with-too-many-pictures .content .picture-row .picture-block .data p {
  font-size: 18px;
  color: #656a6e;
}
.block-with-too-many-pictures .content .picture-row .picture-block:nth-child(3) {
  margin-right: 0;
}
.block-with-too-many-pictures .content .openForm {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.block-with-too-many-pictures .content .openForm:hover {
  background: #96d98b;
}
.one-two-three-steps {
  height: 525px;
  text-align: center;
}
.one-two-three-steps .content h1 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #323334;
}
.one-two-three-steps .content h1::after {
  display: block;
  content: '';
  height: 2px;
  background: #323334;
  width: 70px;
  margin: 30px auto 70px;
}
.one-two-three-steps .content .step {
  float: left;
  width: 33.333%;
  font-size: 18px;
}
.one-two-three-steps .content .step .digit {
  float: left;
  font-weight: 100;
  text-align: left;
  font-size: 90px;
  color: #76aee3;
  padding-right: 20px;
  height: 200px;
}
.one-two-three-steps .content .step .step-content {
  text-align: left;
}
.one-two-three-steps .content .step .step-content h4 {
  padding-top: 20px;
  font-size: 24px;
  color: #323334;
  padding-bottom: 20px;
}
.one-two-three-steps .content .step .step-content p {
  max-width: 355px;
  font-size: 18px;
  color: #656a6e;
}
.about-training {
  background: #f7f8f8;
  height: 700px;
}
.about-training .content img {
  padding-top: 75px;
  float: left;
}
.about-training .content .training-content {
  float: left;
  padding-left: 50px;
  width: 750px;
}
.about-training .content .training-content h1 {
  padding-top: 75px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}
.about-training .content .training-content h1::after {
  display: block;
  content: '';
  margin: 30px 0;
  height: 2px;
  width: 70px;
  background: #323334;
}
.about-training .content .training-content p {
  font-size: 24px;
  color: #656a6e;
  font-weight: normal;
}
.price {
  height: 1180px;
}
.price .content h1 {
  padding-top: 50px;
  font-size: 40px;
  color: #323334;
  font-weight: 700;
  text-align: center;
}
.price .content h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  background: #323334;
  margin: 30px auto;
}
.price .content .column {
  width: 33.3333%;
  float: left;
  cursor: pointer;
}
.price .content .column .lowcost,
.price .content .column .midcost,
.price .content .column .highcost {
  text-align: center;
  width: 370px;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid #eeeff2;
}
.price .content .column .lowcost:hover,
.price .content .column .midcost:hover,
.price .content .column .highcost:hover {
  border: 1px solid #73cd64;
  box-sizing: content-box;
}
.price .content .column .lowcost h2,
.price .content .column .midcost h2,
.price .content .column .highcost h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  color: #303234;
}
.price .content .column .lowcost h2 .blue,
.price .content .column .midcost h2 .blue,
.price .content .column .highcost h2 .blue {
  font-size: 40px;
  font-weight: bolder;
  color: #76aee3;
  text-transform: uppercase;
}
.price .content .column .lowcost ul,
.price .content .column .midcost ul,
.price .content .column .highcost ul {
  list-style: none;
}
.price .content .column .lowcost ul li,
.price .content .column .midcost ul li,
.price .content .column .highcost ul li {
  padding-bottom: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  list-style: none;
  max-width: 320px;
}
.price .content .column .lowcost ul li .blue-dot,
.price .content .column .midcost ul li .blue-dot,
.price .content .column .highcost ul li .blue-dot {
  color: #76aee3;
  font-weight: bolder;
  padding-right: 10px;
}
.price .content .column .lowcost .regular-price,
.price .content .column .midcost .regular-price,
.price .content .column .highcost .regular-price {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: line-through;
  color: #bdc2c7;
}
.price .content .column .lowcost .new-price,
.price .content .column .midcost .new-price,
.price .content .column .highcost .new-price {
  font-size: 60px;
  font-weight: 100;
  color: #73cd64;
}
.price .content .column .lowcost .underprice,
.price .content .column .midcost .underprice,
.price .content .column .highcost .underprice {
  font-size: 16px;
  color: #788087;
}
.price .content .column .lowcost .openForm,
.price .content .column .midcost .openForm,
.price .content .column .highcost .openForm {
  margin-bottom: 30px;
}
.call-form {
  color: #fff;
  height: 440px;
  background: url(../img/indiv.jpg) no-repeat center center;
  text-align: center;
}
.call-form .content h1 {
  padding-top: 70px;
  font-size: 40px;
}
.call-form .content h1::after {
  display: block;
  content: '';
  height: 2px;
  width: 70px;
  margin: 30px auto;
  background: #fff;
}
.call-form .content p {
  font-size: 24px;
  font-weight: normal;
}
.call-form .content button {
  margin-top: 90px;
}
.money-back {
  height: 720px;
  color: #303234;
  text-align: center;
}
.money-back .content h1 {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 70px;
}
.money-back .content h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  background: #303234;
  margin: 30px auto;
}
.money-back .content p {
  font-size: 24px;
  font-weight: 400;
}
.faq {
  background: #f7f8f8;
  height: 840px;
  text-align: center;
  color: #303234;
}
.faq .content h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
}
.faq .content h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  background: #303234;
  margin: 30px auto 50px;
}
.faq .content .faq-block {
  margin-bottom: 50px;
  display: block;
}
.faq .content .faq-block h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.faq .content .faq-block h3:before {
  float: left;
  display: block;
  content: '';
  width: 53px;
  height: 2px;
  background: #76aee3;
  margin: 15px 20px ;
}
.faq .content .faq-block p {
  padding-top: 20px;
  font-size: 18px;
  color: #656a6e;
  text-align: left;
}
.its-time {
  height: 1060px;
  text-align: center;
  color: #303234;
}
.its-time .content h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 50px;
}
.its-time .content h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  background: #303234;
  margin: 30px auto 70px;
}
.its-time .content .block {
  text-align: left;
  height: 200px;
  width: 100%;
  margin-bottom: 50px;
  margin-left: 20px;
}
.its-time .content .block img {
  float: left;
  clear: both;
}
.its-time .content .block p {
  padding-left: 390px;
  color: #656a6e;
  font-size: 18px;
}
.prefooter-form {
  background: url(../img/prefooter.jpg) no-repeat center center;
  text-align: center;
  color: #fff;
  height: 680px;
}
.prefooter-form .content h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.prefooter-form .content h1::after {
  display: block;
  content: '';
  width: 70px;
  height: 2px;
  margin: 30px auto;
  background: #fff;
}
.prefooter-form .content p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.prefooter-form .content .about-price {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.prefooter-form .content form {
  max-width: 371px;
  margin: 0 auto;
}
.prefooter-form .content form input[type=text] {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  font-style: italic;
  color: #aba1a5;
  border: 1px solid #aba1a5;
  border-radius: 5px;
}
.prefooter-form .content form input[type=text]:focus {
  outline: none;
  font-style: normal;
  color: #fff;
  border: 1px solid #fff;
}
.prefooter-form .content form input[type=submit] {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.prefooter-form .content form input[name=field_name_first],
.prefooter-form .content form input[name=field_email] {
  margin-top: 30px;
  height: 20px;
  width: 350px;
  padding: 15px 10px;
  float: left;
}
.prefooter-form .content form input[name=field_phone_mobile] {
  margin-top: 30px;
  height: 20px;
  width: 350px;
  padding: 15px 10px;
}
.prefooter-form .content form input[type=submit] {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  width: 370px;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 30px;
  cursor: pointer;
}
.prefooter-form .content form input[type=submit]:hover {
  cursor: pointer;
  background: #96d98b;
}
.footer {
  height: 80px;
  background: #1f2122;
}
.footer .logo {
  padding-top: 20px;
  text-transform: uppercase;
  float: left;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}
.footer .logo .blue-ultra {
  font-sweight: 900;
  color: #76aee3;
}
.footer .copy {
  text-align: center;
  color: #fff;
  font-weight: 400;
  width: 500px;
  margin: 0 auto;
  padding-top: 30px;
}
.footer .phone {
  float: right;
  padding-left: 20px;
  background: url(../img/field_phone_mobile.png) no-repeat;
  background-position: 0 3px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
  margin-top: -15px;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 12;
}
#modal-form {
  display: none;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 390px;
  height: 470px;
  z-index: 13;
  margin-top: -235px;
  margin-left: -195px;
  border-top: 3px solid #73cd64;
  border-radius: 5px;
}
#modal-form form {
  text-align: center;
}
#modal-form form h1 {
  padding-top: 20px;
  font-size: 40px;
  color: #303234;
}
#modal-form form h1::after {
  display: block;
  content: '';
  margin: 30px auto;
  width: 70px;
  height: 2px;
  background: #303234;
}
#modal-form form input[type=text] {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  font-style: italic;
  color: #aba1a5;
  border: 1px solid #aba1a5;
  border-radius: 5px;
}
#modal-form form input[type=text]:focus {
  font-style: normal;
  color: #fff;
  border: 1px solid #303234;
}
#modal-form form input[type=submit] {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
#modal-form form input[name=field_name_first],
#modal-form form input[name=field_email] {
  margin-top: 5px;
  height: 20px;
  width: 350px;
  padding: 15px 10px;
  margin-left: auto;
  margin-right: auto;
}
#modal-form form input[name=field_phone_mobile] {
  margin-top: 5px;
  height: 20px;
  width: 350px;
  padding: 15px 10px;
  margin-left: auto;
  margin-right: auto;
}
#modal-form form input[type=submit] {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background: #73cd64;
  border: none;
  width: 370px;
  padding: 15px 25px;
  border-bottom: 3px solid #57934d;
  margin-top: 30px;
  cursor: pointer;
}
#modal-form form input[type=submit]:hover {
  cursor: pointer;
  background: #96d98b;
}
