* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto';
}

iframe {
	border: 0px;
}

.content {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	&:after, &:before {
		content: '';
		display: table;
		clear: both;
	}
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

.openForm {
	border-radius: 5px;
	font-size: 	14px;
	font-weight: 700;
	background: #73cd64;
	border: none;
	padding: 15px 25px;
	border-bottom: 3px solid #57934d;
	margin-top: 50px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		cursor: pointer;
		background: lighten(#73cd64, 10%)
	}
}

@textgrey: #656a6e;
@hgrey: #323334;
@blue: #76aee3;

header {
	color: #fff;
	padding-top: 30px;
	height: 800px;
	background: url(../img/firstscreen.jpg) no-repeat center center;
	background-size: cover;
	nav {
		color: #fff;
		.logo {
			text-transform: uppercase;
			float: left;
			font-size: 55px;
			font-weight: 100;
			color: #fff;
			.blue-ultra {
				font-weight: 900;
				color: #76aee3;
			}
		}
		.description {
			float: left;
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			color: #fff;
			padding-top: 9px;
			padding-left: 20px;
		}
		.phone {
			float: right;
			background: url(../img/field_phone_mobile.png) no-repeat;
			background-position: 0px 5px;
			padding-left: 30px;
			.tel {
				font-size: 24px;
				font-weight: 700;
			}
			.undertel {
				font-size: 16px;
				padding-top: 5px;
				.underline {
					text-decoration: underline;
				}
			}
		}
	}
	h1 {
		padding-top: 150px;
		color: #fff;
		font-size: 40px;
		font-weight: 700;
		text-align: center;
		&::after {
			display: block;
			min-height: 1px;
			content: '';
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 28px;
			margin-bottom: 28px;
			background: #76aee3;
		}
	}
	.underheader {
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		font-style: italic;
		text-align: center;
	}
	.bottom-block {
		padding-top: 95px;
		iframe {
			float: left;
			padding-right: 30px;
		}
		form {
			height: 320px;
			float: left;
			color: #fff; 
			p {
				font-size: 22px;
			}
			#clock {
				margin-top: 10px;
				font-size: 22px;
				color: #fff;
				#days, #hours, #mins, #sec {
					color: #fff;
					font-size: 40px !important;
				}
			}
			input[type=text] {
				font-size: 16px;
				font-weight: 400;
				background: transparent;
				font-style: italic;
				color: #aba1a5;
				border: 1px solid #aba1a5;
				border-radius: 5px;
				&:focus {
					outline: none;
					font-style: normal;
					color: #fff;
					border: 1px solid #fff;
				}
			}
			input[type=submit] {
				font-weight: 700;
				font-size: 14px;
				color: #fff;
			}
			input[name=field_name_first], input[name=field_email] {
				margin-top: 30px;
				height: 20px;
				width: 250px;
				padding: 15px 10px;
				float: left;
			}
			input[name=field_email] {
				margin-left: 20px;
			}
			input[name=field_phone_mobile] {
				margin-top: 30px;
				height: 20px;
				width: 542px;
				padding: 15px 10px;
			}
			input[type=submit] {
				border-radius: 5px;
				font-size: 	14px;
				font-weight: 700;
				background: #73cd64;
				border: none;
				padding: 15px 25px;
				border-bottom: 3px solid #57934d;
				margin-top: 30px;
				cursor: pointer;
				&:hover {
					background: lighten(#74cd74, 10%);
					cursor: pointer;
				}
			}
		}
	}
}
.programm-of-the-course {
	height: 360px;
	.content {
		padding-top: 75px;
		width: 550px;
		img {
			float: left;
			padding-right: 20px;
		}
		h1 {
			padding-left: 20px;
			padding-top: 20px;
			font-size: 40px;
			font-weight: 700;
			&::after {
				display: block;
				content: '';
				min-height: 1px;
				height: 2px;
				margin: 25px 0 0;
				float: left;
				background: #000;
				width: 70px;
			}
		}
		p {
			padding-left: 20px;
			margin-top: 45px;
			font-size: 24px;
			font-weight: 400;
			color: #54585c;
			.green {
				color: #73cd64;
			}
		}
	}
}
.theory-n-practice {
	height: 2590px;
	.top-plank {
		width: 100%;
		text-transform: uppercase;
		.left-side {
			height: 65px;
			background: #5081af;
			width: 50%;
			float: left;
			&::after {
				display: block;
				content: '';
				position: absolute;
				background: url(../img/arrow.png) no-repeat;
				background-size: 100% 100%;
				width: 11px;
				height: 60px;
				left: 50%;
				margin-top:-41px;
			}
			.content {
				padding-top: 20px;
				color: #fff;
				width: 1170px/2px;
				font-weight: 700;
				font-size: 20px;
				text-align: center;
			}

		}
		.right-side {
			float: left;
			height: 65px;
			background: #76aee3;
			width: 50%;
			color: #fff;
			.content {
				padding-top: 20px;
				width: 1170px/2px;
				font-weight: 700;
				font-size: 20px;
				text-align: center;
			}
		}
	}
	.row {
		width: 100%;
		height: 280px;
		.left, .right {
			width: 50%;
			height: 280px;
			float: left;
			.content {
				width: 1170px/2px;
			}
		}
		.left {
			h1 {
				color: #5081af;
				font-size: 80px;
				font-weight: 100;
				padding: 20px 0;
				text-align: right;
			}
			p {
				font-size: 18px;
				font-weight: 400;
			}
		}
		.right {
			h1 {
				color: #5081af;
				font-size: 30px;
				padding: 70px 10px 0;
				font-weight: 100;
			}
			p {
				font-size: 19px;
				font-weight: 400;
				padding-top: 30px;
			}
		}
	}
	.row:nth-child(odd) .left{
		background: #f1f1f1;
	}
	.row:nth-child(even) .left {
		background: #e3e3e3;
	}
	.row:nth-child(odd) .right {
		background: #f9f9f9;
	}
	.row:nth-child(even) .right {
		background: #f1f1f1;
	}
}
.first-form {
	text-align: center;
	color: #fff;
	height: 470px;
	background: url(../img/first-form.jpg) no-repeat center center;
	background-size: cover;
	h1 {
		padding-top: 62px;
		font-size: 40px;
		font-weight: 700;
		&::after {
			min-height: 1px;
			height: 2px;
			width: 70px;
			display: block;
			content: '';
			margin: 20px auto;
			background: #fff;
		}
	}
	p {
		font-size: 24px;
		font-weight: 400;
	}
	.openForm {
		border-radius: 5px;
		font-size: 	14px;
		font-weight: 700;
		background: #73cd64;
		border: none;
		padding: 15px 25px;
		border-bottom: 3px solid #57934d;
		margin-top: 50px;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background: lighten(#73cd64, 10%)
		}
	}
}
.for-you-purpose {
	height: 940px;
	.content {
		text-align: center;
		h1 {
			padding-top: 30px;
			font-size: 40px;
			font-weight: 700;
			&::after {
				content: '';
				min-height: 1px;
				height: 2px;
				margin: 30px auto;
				width: 70px;
				display: block;
				background: #000;
			}
		}
		.purpose-row {
			padding-top: 10px;
			height: 305px;
			.block {
				float: left;
				width: 328px;
				padding-left: 62px;
				text-align: left;
				h3 {
					padding: 20px 0 50px;
					font-size: 24px;
					font-weight: 500;
				}
				p {
					font-size: 18px;
					color: #656a6e;
				}
			}
			.vk {
				background: url(../img/vk.png) no-repeat;
				background-position: 0px 20px;
			}
			.network {
				background: url(../img/network.png) no-repeat;
				background-position: 0 20px;
			}
			.video {
				background: url(../img/video.png) no-repeat;
				background-position: 0 20px;
			}
			.guests {
				background: url(../img/guests.png) no-repeat;
				background-position: 0 20px;
			}

			.direct-contact {
				background: url(../img/direct-contact.png) no-repeat;
				background-position: 0 20px;
			}
			.templates {
				background: url(../img/templates.png) no-repeat;
				background-position: 0 20px;
			}
		}
		.openForm {
			border-radius: 5px;
			font-size: 	14px;
			font-weight: 700;
			background: #73cd64;
			border: none;
			padding: 15px 25px;
			border-bottom: 3px solid #57934d;
			margin-top: 50px;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			&:hover {
				background: lighten(#73cd64, 10%)
			}
		}
	}

}
.block-with-notebook {
	color: #fff;
	background: url(../img/block-with-notebook.jpg) no-repeat center center;
	background-size: cover;
	height: 780px;
	text-align: center;
	h1 {
		padding-top: 50px;
		font-size: 40px;
		font-weight: 700;
		&::after {
			display: block;
			content: '';
			width: 70px;
			height: 2px;
			background: #fff;
			margin: 30px auto;
		}
	}
	p {
		font-size: 24px;
		font-weight: 400;
	}
	img {
		padding-top: 50px;
	}
}
.reviews {
	color: #000;
	text-align: center;
	height: 880px;
	.content {
		h1 {
			padding-top: 50px;
			font-size: 40px;
			font-weight: 700;
			&::after {
				display: block;
				content: '';
				height: 2px;
				width: 70px;
				background: #000;
				margin: 30px auto;
			}
		}
		.left-block, .right-block {
			float: left;
			text-align: left;
			width: 50%;
			.review {
				padding-top: 50px;
				padding-bottom: 50px;
				img {
					float: left;
					padding-right: 50px;
				}
				.name {
					padding-top: 15px;
					font-size: 24px;
					color: #303234;
					font-weight: 500;
				}
				p {
					font-style: italic;
					font-weight: 300;
				}	
			}
			
		}
	}
}
.block-with-too-many-pictures {
	height: 4625px;
	background: #f9f9f9;
	text-align: center;
	.content {
		h1 {
			padding-top: 50px;
			font-size: 40px;
			font-weight: 700;
			color: #303234;
			&::after {
				display: block;
				content: '';
				height: 2px;
				width: 70px;
				margin: 30px auto 70px;
				background: #303234;
			}
		}
		.picture-row {
			height: 340px;
			margin-bottom: 40px;
			.picture-block {
				width: 370px;
				margin-right: 30px;
				float: left;
				img {
					width: 370px;
					height: 200px;
				}
				.data {
					margin-top: -5px;
					width: 340px;
					height: 100px;
					background: #fff;
					text-align: left;
					padding: 20px 15px;
					h3 {
						padding-bottom: 20px;
						font-size: 24px;
						font-weight: 500;
						color: #303234;
					}
					p {
						font-size: 18px;
						color: #656a6e;
					}
				}
			}
			.picture-block:nth-child(3) {
				margin-right: 0;
			}
		}
		.openForm {
			border-radius: 5px;
			font-size: 	14px;
			font-weight: 700;
			background: #73cd64;
			border: none;
			padding: 15px 25px;
			border-bottom: 3px solid #57934d;
			margin-top: 50px;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			&:hover {
				background: lighten(#73cd64, 10%)
			}
		}
	}
}



.one-two-three-steps {
	height: 525px;
	text-align: center;
	.content {
		h1 {
			padding-top: 30px;
			font-size: 40px;
			font-weight: 700;
			color: @hgrey;
			&::after {
				display: block;
				content: '';
				height: 2px;
				background: @hgrey;
				width: 70px;
				margin: 30px auto 70px;
			}
		}
		.step {
			float: left;
			width: 33.333%;
			font-size: 18px;
			.digit {
				float: left;
				font-weight: 100;
				text-align: left;
				font-size: 90px;
				color: @blue;
				padding-right: 20px;
				height: 200px;
			}
			.step-content {
				text-align: left;
				h4 {
					padding-top: 20px;
					font-size: 24px;
					color: @hgrey;
					padding-bottom: 20px;
				}
				p {
					max-width: 355px;
					font-size: 18px;
					color: @textgrey;
				}
			}
		}
	}
}
.about-training {
	background: #f7f8f8;
	height: 700px;
	.content {
		img {
			padding-top: 75px;
			float: left;
		}
		.training-content {
			float: left;
			padding-left: 50px;
			width: 750px;
			h1 {
				padding-top: 75px;
				font-size: 40px;
				font-weight: 700;
				text-align: left;
				&::after {
					display: block;
					content: '';
					margin: 30px 0;
					height: 2px;
					width: 70px;
					background: @hgrey;
				}
			}
			p {
				font-size: 24px;
				color: @textgrey;
				font-weight: normal;
			}
		}
	}
}
.price {
	height: 1180px;
	.content {
		h1 {
			padding-top: 50px;
			font-size :40px;
			color: @hgrey;
			font-weight: 700;
			text-align: center;
			&::after {
				display: block;
				content: '';
				width: 70px;
				height: 2px;
				background: @hgrey;
				margin: 30px auto;
			}
		}
		.column {
			width: 33.3333%;
			float: left;
			cursor: pointer;
			.lowcost,.midcost,.highcost {
				text-align: center;
				width: 370px;
				margin: 0 auto;
				border-radius: 3px;
				border: 1px solid #eeeff2;
				&:hover {
					border: 1px solid @green;
					box-sizing: content-box;
				}
				h2 {
					padding: 20px 0;
					text-align: center;
					font-size: 30px;
					color: #303234;
					.blue {
						font-size: 40px;
						font-weight: bolder;
						color: @blue;
						text-transform: uppercase;
					}
				}
				ul {
					list-style: none;
					li {
						.blue-dot {
							color: @blue;
							font-weight: bolder;
							padding-right: 10px;
						}
						padding-bottom: 10px;
						text-align: left;
						font-size: 16px;
						font-weight: 400;
						padding-left: 30px;
						list-style: none;
						max-width: 320px;
					}
				}
				.regular-price {
					padding-top: 40px;
					font-size: 30px;
					font-weight: 400;
					text-decoration: line-through;
					color: #bdc2c7;
				}
				.new-price {
					font-size: 60px;
					font-weight: 100;
					color: @green;
				}
				.underprice {
					font-size: 16px;
					color: #788087;
				}
				.openForm {
					margin-bottom: 30px;
				}
			}
		}
	}
}

@green: #73cd64;

.call-form {
	color: #fff;
	height: 440px;
	background: url(../img/indiv.jpg) no-repeat center center;
	text-align: center;
	.content {
		h1 {
			padding-top: 70px;
			font-size: 40px;
			&::after {
				display: block;
				content: '';
				height: 2px;
				width: 70px;
				margin: 30px auto;
				background: #fff;
			}
		}
		p {
			font-size: 24px;
			font-weight: normal;
		}
		button {
			margin-top: 90px;
		}
	}
}
.money-back {
	height: 720px;
	color: #303234;
	text-align: center;
	.content {
		h1 {
			font-size: 40px;
			font-weight: bolder;
			padding-top: 70px;
			&::after {
				display: block;
				content: '';
				width: 70px;
				height: 2px;
				background: #303234;
				margin: 30px auto;
			}
		}
		p {
			font-size: 24px;
			font-weight: 400;
		}
	}
}
.faq {
	background: #f7f8f8;
	height: 840px;
	text-align: center;
	color: #303234;
	.content {
		h1 {
			padding-top: 50px;
			font-size: 40px;
			font-weight: 700;
			&::after {
				display: block;
				content: '';
				width: 70px;
				height: 2px;
				background: #303234;
				margin: 30px auto 50px;
			}
		}
		.faq-block {
			margin-bottom: 50px;
			display: block;
			h3 {
				font-size: 24px;
				font-weight: 700;
				text-align: left;
				&:before {
					float: left;
					display: block;
					content: '';
					width: 53px;
					height: 2px;
					background: #76aee3;
					margin: 15px 20px ;
				}
			}
			p {
				padding-top: 20px;
				font-size: 18px;
				color: #656a6e;
				text-align: left;
			}
		}
	}
}
.its-time {
	height: 1060px;
	text-align: center;
	color: #303234;
	.content {
		h1 {
			font-size: 40px;
			font-weight: 700;
			padding-top: 50px;
			&::after {
				display: block;
				content: '';
				width: 70px;
				height: 2px;
				background: #303234;
				margin: 30px auto 70px;
			}
		}
		.block {
			text-align: left;
			height: 200px;
			width: 100%;
			margin-bottom: 50px;
			margin-left: 20px;
			img {
				float: left;
				clear: both;
			}
			p {
				padding-left: 390px;
				color: #656a6e;
				font-size: 18px;
			}
		}
	}
}
.prefooter-form {
	background: url(../img/prefooter.jpg) no-repeat center center;
	text-align: center;
	color: #fff;
	height: 680px;
	.content {
		h1 {
			padding-top: 50px;
			font-size: 40px;
			font-weight: 700;
			color: #fff;
			&::after {
				display: block;
				content: '';
				width: 70px;
				height: 2px;
				margin: 30px auto;
				background: #fff;
			}
		}
		p {
			font-size: 24px;
			color: #fff;
			font-weight: 400;
		}
		.about-price {
			padding-top: 20px;
			font-size: 18px;
			font-weight: 400;
		}
		form {
			max-width: 371px;
			margin: 0 auto;
			input[type=text] {
				font-size: 16px;
				font-weight: 400;
				background: transparent;
				font-style: italic;
				color: #aba1a5;
				border: 1px solid #aba1a5;
				border-radius: 5px;
				&:focus {
					outline: none;
					font-style: normal;
					color: #fff;
					border: 1px solid #fff;
				}
			}
			input[type=submit] {
				font-weight: 700;
				font-size: 14px;
				color: #fff;
			}
			input[name=field_name_first], input[name=field_email] {
				margin-top: 30px;
				height: 20px;
				width: 350px;
				padding: 15px 10px;
				float: left;
			}
			input[name=field_phone_mobile] {
				margin-top: 30px;
				height: 20px;
				width: 350px;
				padding: 15px 10px;
			}
			input[type=submit] {
				text-transform: uppercase;
				border-radius: 5px;
				font-size: 	14px;
				font-weight: 700;
				background: #73cd64;
				border: none;
				width: 370px;
				padding: 15px 25px;
				border-bottom: 3px solid #57934d;
				margin-top: 30px;
				cursor: pointer;
				&:hover {
					cursor: pointer;
					background: lighten(@green, 10%)
				}
			}
		}
	}
}
.footer {
	height: 80px;
	background: #1f2122;
			.logo {
				padding-top: 20px;
			text-transform: uppercase;
			float: left;
			font-size: 35px;
			font-weight: 100;
			color: #fff;
			.blue-ultra {
				font-sweight: 900;
				color: #76aee3;
			}
		}
		.copy {
			text-align: center;
			color: #fff;
			font-weight: 400;
			width: 500px;
			margin: 0 auto;
			padding-top: 30px;
		}
		.phone {
			float: right;
			padding-left: 20px;
			background: url(../img/field_phone_mobile.png) no-repeat;
			background-position: 0 3px;
			font-size: 18px;
			font-weight: bolder;
			color: #fff;
			margin-top: -15px;
		}
}

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.8);
	display: none;
	height: 100%;
	width: 100%;
	z-index: 12;
}

#modal-form {
	display: none;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 390px;
	height: 470px;
	z-index: 13;
	margin-top: -235px;
	margin-left: -195px;
	border-top: 3px solid @green;
	border-radius: 5px;
	form {
		text-align: center;
		h1 {
			padding-top: 20px;
			font-size: 40px;
			color: #303234;
			&::after {
				display: block;
				content: '';
				margin: 30px auto;
				width: 70px;
				height: 2px;
				background: #303234;
			}
		}
		input[type=text] {
				font-size: 16px;
				font-weight: 400;
				background: transparent;
				font-style: italic;
				color: #aba1a5;
				border: 1px solid #aba1a5;
				border-radius: 5px;
				&:focus {
					font-style: normal;
					color: #fff;
					border: 1px solid #303234;
				}
			}
			input[type=submit] {
				font-weight: 700;
				font-size: 14px;
				color: #fff;
			}
			input[name=field_name_first], input[name=field_email] {
				margin-top: 5px;
				height: 20px;
				width: 350px;
				padding: 15px 10px;
				margin-left: auto;
				margin-right: auto;
			}
			input[name=field_phone_mobile] {
				margin-top: 5px;
				height: 20px;
				width: 350px;
				padding: 15px 10px;
				margin-left: auto;
				margin-right: auto;
			}
			input[type=submit] {
				text-transform: uppercase;
				border-radius: 5px;
				font-size: 	14px;
				font-weight: 700;
				background: #73cd64;
				border: none;
				width: 370px;
				padding: 15px 25px;
				border-bottom: 3px solid #57934d;
				margin-top: 30px;
				cursor: pointer;
				&:hover {
					cursor: pointer;
					background: lighten(@green, 10%)
				}
			}
	}
}