body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 46px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
}
h2 {
  margin-top: 6px;
  margin-bottom: 15px;
  color: white;
  font-size: 23px;
  line-height: 38px;
  font-weight: 300;
}
h3 {
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 46px;
  line-height: 56px;
  font-weight: 300;
  text-align: center;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding: 0px;
  color: #3b3b3b;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.header-section {
  height: auto;
  padding-top: 72px;
  padding-bottom: 0px;
  border-bottom: 2px none #ededed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/Untitled%203.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/Untitled%203.jpg');
  background-position: 0% 0%, 0% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
.start-time {
  display: inline-block;
  padding: 17px 22px;
  border: 2px solid #dbdbdb;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.heading-div {
  margin-bottom: 115px;
}
.form-div {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px 25px;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: none;
}
.cta {
  position: relative;
  top: 2px;
  display: inline-block;
  width: auto;
  height: 55px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  background-color: #23c24d;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 19px;
}
.cta:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.form-field {
  display: inline-block;
  width: 290px;
  height: 55px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-left: 20px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 19px;
}
.form-field:focus {
  border-color: white;
  background-color: white;
}
.form-heading {
  margin-bottom: 25px;
  color: white;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
}
.form-col {
  text-align: center;
}
.for-who-section {
  height: auto;
  padding-top: 85px;
  padding-bottom: 105px;
  font-family:'Open Sans', sans-serif;
}
.play-btn {
  margin-bottom: 10px;
  opacity: 0.7;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.play-btn:hover {
  opacity: 1;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
.play-btn-support {
  margin-bottom: 105px;
  padding-bottom: 0px;
  color: white;
  font-size: 16px;
}
.for-who-col {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.wor-who-icon {
  margin-bottom: 25px;
}
.problems-section {
  padding-top: 85px;
  padding-bottom: 0px;
  border-top: 1px solid #ebebeb;
  font-family:'Open Sans', sans-serif;
}
.problems-heading {
  margin-bottom: 60px;
  line-height: 52px;
}
.problem-txt {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 360px;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
.list-item {
  padding: 20px;
  border-bottom: 1px solid #dedede;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.list-item:hover {
  position: relative;
  z-index: 100;
  border-bottom-style: solid;
  border-bottom-color: white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 6px 0px;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}
.list-item.last-list-item {
  border-bottom-style: none;
}
.check-img {
  position: relative;
  bottom: 23px;
}
.about-what-section {
  padding-top: 85px;
  padding-bottom: 45px;
  background-color: #f5fbff;
  font-family:'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.number {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 39px;
  border-radius: 26px;
  background-color: #23c24d;
}
.number-txt {
  color: white;
  font-weight: 500;
  text-align: center;
}
.topic-heading {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 28px;
  font-weight: 400;
}
.number-content-div {
  display: inline-block;
}
.number-right-col {
  padding-left: 0px;
}
.numbers-row {
  margin-bottom: 60px;
  padding-bottom: 0px;
}
.cont-numb-div {
  margin-left: 10px;
}
.managing-by-section {
  padding-top: 85px;
  padding-bottom: 105px;
  font-family:'Open Sans', sans-serif;
}
.coach-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 120px;
  background-color: #e0dede;
  background-image: url('../images/face1.png');
  background-size: cover;
}
.coach-pic.dmitry {
  background-image: url('../images/face2.png');
}
.coach-col {
  text-align: center;
}
.coach-div {
  height: 615px;
  padding: 50px 20px;
  border-radius: 12px;
  background-color: #f7f7f7;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.coach-div:hover {
  background-color: #469ef1;
  color: white;
}
.coach-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}
.coach-name.partner-name {
  font-size: 24px;
}
.coach-descr {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.form-section {
  padding-top: 85px;
  padding-bottom: 85px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/Untitled%202.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/Untitled%202.jpg');
  background-position: 0% 0%, 50% 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  font-family:'Open Sans', sans-serif;
  text-align: center;
}
.form-section-heading {
  margin-bottom: 40px;
  color: white;
}
.form-section-heading.last-form-heading {
  margin-bottom: 20px;
}
.form {
  padding: 25px 30px 30px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.38);
}
.form.footer-form {
  margin-top: 40px;
}
.form-support {
  margin-top: 15px;
  color: white;
  font-weight: 300;
}
.testimonials-section {
  padding-top: 85px;
  padding-bottom: 95px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
}
.testim-sec-heading {
  margin-bottom: 0px;
}
.testimonial-slide {
  background-color: white;
}
.slider-arrow {
  color: #d6d6d6;
}
.testim-avatar {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-radius: 60px;
  background-image: url('../images/128.jpg');
  background-size: cover;
}
.testim-avatar.lubov {
  background-image: url('../images/128-1.jpg');
}
.testim-avatar.vlad {
  background-image: url('../images/128-2.jpg');
}
.testimonial-container {
  padding-top: 40px;
  text-align: center;
}
.testimonial-div {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 16px;
  background-color: #23c24d;
}
.testi-slider {
  height: 461px;
}
.testi-name {
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;
}
.testimonial-par {
  color: white;
  text-align: center;
}
.wor-who-par {
  text-align: center;
}
.mcbook-sect {
  padding-top: 85px;
  padding-bottom: 105px;
  background-color: #f5fbff;
  font-family:'Open Sans', sans-serif;
}
.how-container {
  text-align: center;
}
.mac-book-heading {
  margin-bottom: 60px;
}
.macbook-par {
  margin-top: 30px;
  color: #2e2e2e;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.we-know-section {
  padding-top: 85px;
  padding-bottom: 105px;
  font-family:'Open Sans', sans-serif;
}
.thought {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #23c24d;
  border-radius: 70px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.thought-par {
  margin-bottom: 55px;
  color: #383838;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}
.warning-section {
  padding-top: 85px;
  padding-bottom: 105px;
  background-color: #1e86e8;
  font-family:'Open Sans', sans-serif;
}
.war-par {
  color: white;
  text-align: center;
}
.footer-form-section {
  padding-top: 85px;
  padding-bottom: 105px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../images/Monoi-Oil.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../images/Monoi-Oil.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  font-family:'Open Sans', sans-serif;
  text-align: center;
}
.partners-section {
  padding-top: 85px;
  padding-bottom: 105px;
  border-top: 1px solid #ebebeb;
  font-family:'Open Sans', sans-serif;
}
.partner-col {
  text-align: center;
}
.woman-img {
  position: static;
}
.success-section {
  height: 700px;
  padding-top: 150px;
  font-family:'Open Sans', sans-serif;
}
.succes-container {
  text-align: center;
}
.success-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 300;
}
.go-back-btn {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #b8b8b8;
  border-radius: 60px;
  color: #525252;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-2"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-3"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
@media (max-width: 991px) {
  h3 {
    margin-bottom: 60px;
    font-size: 32px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  .header-section {
    padding-top: 50px;
    background-position: 0% 0%, 50% 50%;
  }
  .start-time {
    font-size: 18px;
  }
  .heading-div {
    margin-bottom: 75px;
  }
  .cta {
    top: 0px;
    height: 50px;
  }
  .form-field {
    width: 205px;
    height: 50px;
    font-weight: 300;
  }
  .form-heading {
    font-size: 22px;
  }
  .for-who-section {
    padding-top: 50px;
  }
  .play-btn-support {
    margin-bottom: 85px;
  }
  .problems-section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .problems-heading {
    margin-bottom: 32px;
    font-size: 36px;
  }
  .problem-txt {
    width: 320px;
    font-size: 20px;
  }
  .list-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about-what-section {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .number {
    width: 75px;
    height: 75px;
    padding-top: 26px;
    border-radius: 22px;
  }
  .number-txt {
    font-size: 44px;
  }
  .topic-heading {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .numbers-row {
    margin-bottom: 40px;
  }
  .managing-by-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .coach-pic {
    width: 120px;
    height: 120px;
  }
  .coach-name {
    font-size: 24px;
  }
  .coach-name.partner-name {
    font-size: 20px;
  }
  .coach-descr {
    font-size: 18px;
    line-height: 26px;
  }
  .form-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .form-section-heading {
    line-height: 40px;
  }
  .testimonials-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .testimonial-div {
    width: 500px;
  }
  .testi-slider {
    height: 420px;
  }
  .wor-who-par {
    font-size: 18px;
    line-height: 26px;
  }
  .mcbook-sect {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .mac-book-heading {
    margin-bottom: 20px;
  }
  .macbook-par {
    margin-top: 10px;
    font-size: 22px;
  }
  .we-know-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .thought {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
  }
  .thought-par {
    font-size: 22px;
  }
  .warning-section {
    padding-top: 50px;
    padding-bottom: 85px;
  }
  .footer-form-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .partners-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .woman-img {
    position: absolute;
    left: 24px;
    top: 48px;
    right: 0px;
    bottom: 0px;
  }
  .success-section {
    padding-top: 88px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    width: 95%;
    font-size: 20px;
    line-height: 29px;
  }
  h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  p {
    text-align: center;
  }
  .heading-div {
    margin-bottom: 40px;
  }
  .cta {
    display: block;
    width: 275px;
    height: 55px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    text-decoration: none;
  }
  .cta.email-rassilka {
    width: 305px;
    padding-top: 15px;
    font-weight: 300;
  }
  .cta.first-cta {
    width: 315px;
    padding-top: 15px;
  }
  .form-field {
    display: block;
    width: 275px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 18px;
  }
  .form-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .for-who-section {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .play-btn-support {
    margin-bottom: 30px;
  }
  .for-who-col {
    margin-bottom: 50px;
    text-align: center;
  }
  .problems-section {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .problems-heading {
    font-size: 30px;
    line-height: 39px;
  }
  .list-item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    text-align: left;
  }
  .list-item:hover {
    border-bottom-style: solid;
    border-bottom-color: #dedede;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .list-item.last-list-item:hover {
    border-bottom-style: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .about-what-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .number {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .topic-heading {
    margin-top: 15px;
  }
  .numbers-row {
    margin-bottom: 0px;
  }
  .cont-numb-div {
    margin-left: 0px;
    text-align: center;
  }
  .managing-by-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .coach-div {
    height: auto;
    margin-bottom: 30px;
  }
  .coach-name.partner-name {
    margin-bottom: 10px;
  }
  .form-section {
    padding-top: 20px;
    font-size: 14px;
  }
  .form-section-heading {
    line-height: 38px;
  }
  .form.footer-form {
    border-radius: 0px;
    text-align: center;
  }
  .testimonials-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .testim-avatar {
    width: 70px;
    height: 70px;
  }
  .testim-avatar.vlad {
    width: 70px;
    height: 70px;
  }
  .testimonial-container {
    padding-top: 10px;
  }
  .testi-slider {
    height: 370px;
  }
  .testi-name {
    font-size: 22px;
  }
  .wor-who-par {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 28px;
  }
  .mcbook-sect {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .macbook-par {
    font-size: 20px;
    line-height: 26px;
  }
  .we-know-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .thought {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 19px;
    font-weight: 400;
  }
  .thought-par {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-bottom: 45px;
    margin-left: auto;
    font-size: 20px;
    line-height: 26px;
  }
  .warning-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .war-par {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-form-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .partners-section {
    padding-top: 20px;
  }
  .woman-img {
    position: static;
    width: 268px;
  }
  .woman-col {
    text-align: center;
  }
  .content-col {
    margin-bottom: 30px;
  }
  .success-section {
    padding-top: 8px;
  }
  .success-heading {
    font-size: 29px;
  }
}
@media (max-width: 479px) {
  h1 {
    line-height: 38px;
  }
  h2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  h3 {
    display: block;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    line-height: 34px;
  }
  .header-section {
    padding-top: 30px;
  }
  .start-time {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }
  .cta {
    width: 100%;
  }
  .cta.email-rassilka {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    font-weight: 300;
  }
  .cta.first-cta {
    width: 95%;
    height: auto;
    padding-bottom: 15px;
    line-height: 23px;
  }
  .form-field {
    width: 100%;
  }
  .for-who-col {
    margin-bottom: 30px;
  }
  .wor-who-icon {
    margin-bottom: 20px;
  }
  .problem-txt {
    position: static;
    width: auto;
    margin-left: 0px;
    text-align: center;
  }
  .list-item {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .managing-by-section {
    padding-bottom: 40px;
  }
  .form-section {
    padding-bottom: 40px;
  }
  .form-section-heading {
    line-height: 38px;
  }
  .form.footer-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .testimonial-div {
    width: 95%;
  }
  .testi-slider {
    height: 441px;
  }
  .mac-book-heading {
    font-size: 30px;
    line-height: 34px;
  }
  .thought {
    font-size: 17px;
    line-height: 22px;
  }
  .thought-par {
    font-size: 18px;
  }
  .footer-form-section {
    padding-bottom: 40px;
  }
  .partners-section {
    padding-bottom: 40px;
  }
  .success-section {
    padding-top: 20px;
  }
  .success-heading {
    margin-top: 25px;
    font-size: 28px;
    line-height: 32px;
  }
}

