* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'blackitalic';
  src: url(../fonts/BlackItalic.otf);
}
@font-face {
  font-family: 'bold';
  src: url(../fonts/Bold.otf);
}
@font-face {
  font-family: 'semibold';
  src: url(../fonts/SemiBold.otf);
}
@font-face {
  font-family: 'light';
  src: url(../fonts/Light.otf);
}
@font-face {
  font-family: 'regular';
  src: url(../fonts/Regular.otf);
}
.tab-content li {
  display: none;
}
.tab-content li.selected {
  display: block;
}
.figures li {
  list-style: none;
}
.row a.case-study {
  text-decoration: none;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.mask .loader {
  width: 170px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  top: 50%;
  margin-top: -75px;
  background: url(../img/preloader.gif) no-repeat;
}
body {
  max-width: 100%;
  min-width: 100%;
}
#canvas_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 0;
}
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.firstScreen {
  background-size: 100% 100%;
  text-align: center;
}
.firstScreen h1 {
  position: relative;
  z-index: 1;
  font-size: 72px;
  font-family: 'blackitalic';
  color: #053431;
}
.firstScreen span.font-50 {
  font-size: 50px;
  font-family: 'blackitalic';
  color: #fff;
}
.firstScreen .next-slide {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  text-align: center;
}
.firstScreen .next-slide .button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
  top: 0;
}
.secondScreen {
  background: url(../img/secondScreen.png) no-repeat center top;
  background-size: 100% 100%;
  text-align: center;
}
.secondScreen .content {
  width: 960px;
  margin-top: 100px;
  text-align: center;
}
.secondScreen .content .headerOfBlock {
  text-transform: uppercase;
  margin-top: 40px;
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 36px;
  color: #000;
  font-family: 'bold';
}
.secondScreen .content .headerOfBlock .rotate-right {
  margin-left: 5px;
  float: right;
  transform: rotate(-7deg);
  font-size: 40px;
  color: #330000;
}
.secondScreen .content .headerOfBlock .rotate-left {
  margin-right: 5px;
  float: left;
  transform: rotate(7deg);
  font-size: 40px;
  color: #330000;
}
.secondScreen .content .figures figure {
  cursor: pointer;
  text-align: center;
  width: 25%;
  float: left;
  height: 220px;
}
.secondScreen .content .figures figure figcaption {
  padding-bottom: 20px;
  height: 59px;
  color: #000;
  font-size: 24px;
  font-family: 'bold';
}
.secondScreen .content .figures figure .imgbox {
  margin: 0 auto;
  transition: all .4s ease;
}
.secondScreen .content .figures figure .imgbox.lp {
  transition: all .4s ease;
  background: url(../img/comp.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.design {
  background: url(../img/design.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.copy {
  background: url(../img/copy.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.context {
  background: url(../img/context.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.lp:hover {
  transition: all .4s ease;
  background: url(../img/comp-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.design:hover {
  transition: all .4s ease;
  background: url(../img/design-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.copy:hover {
  transition: all .4s ease;
  background: url(../img/copy-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .imgbox.context:hover {
  transition: all .4s ease;
  background: url(../img/context-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .figures li.selected .imgbox.lp {
  transition: all .4s ease;
  background: url(../img/comp-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .figures li.selected .imgbox.design.selected {
  transition: all .4s ease;
  background: url(../img/design-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .figures li.selected .imgbox.copy.selected {
  transition: all .4s ease;
  background: url(../img/copy-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures figure .figures li.selected .imgbox.context.selected {
  transition: all .4s ease;
  background: url(../img/context-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.secondScreen .content .figures:after {
  content: '';
  display: block;
  min-height: 1px;
  clear: both;
}
.secondScreen .content .price-block {
  visibility: hidden;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 175px;
  background: #fff;
  border: 8px solid #e55200;
  border-radius: 20px;
  text-align: center;
}
.secondScreen .content .price-block h3 {
  font-size: 36px;
  font-family: 'semibold';
  color: #00a79d;
  padding: 20px 0;
}
.secondScreen .content .price-block .column {
  border-right: 3px solid #e55200;
  float: left;
  width: 32.9%;
  text-align: center;
}
.secondScreen .content .price-block .column p {
  font-size: 24px;
  font-family: 'bold';
}
.secondScreen .content .price-block .column img {
  max-height: 102px;
  margin-top: 10px;
}
.secondScreen .content .price-block :last-child {
  border-right: none !important;
}
.thirdScreen {
  background: url(../img/thirdscreen.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.thirdScreen .content h1 {
  font-size: 62px;
  font-family: 'bold';
  text-align: center;
  color: #fff;
  padding: 20px 0 70px;
  text-transform: uppercase;
}
.thirdScreen .row {
  width: 100%;
  height: 315px;
}
.thirdScreen .row .case-one {
  background: #fbd716;
}
.thirdScreen .row .case-one .i1 {
  height: 150px;
  background: url(../img/befirst.png) no-repeat center center;
  background-size: 80px;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-one .i1:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-two {
  background: #5ba11c;
}
.thirdScreen .row .case-two .i2 {
  height: 150px;
  background: url(../img/baloons.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-two .i2:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-three {
  background: #00415c;
}
.thirdScreen .row .case-three .i3 {
  height: 150px;
  background: url(../img/eye.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-three .i3:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-four {
  background: #395791;
}
.thirdScreen .row .case-four .i4 {
  height: 150px;
  background: url(../img/razdolbay.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-four .i4:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-five {
  background: #b12e2e;
}
.thirdScreen .row .case-five .i5 {
  height: 150px;
  background: url(../img/extreme-base.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-five .i5:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-six {
  background: #00aeff;
}
.thirdScreen .row .case-six .i6 {
  height: 150px;
  background: url(../img/freshclick.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-six .i6:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-seven {
  background: #0cd19e;
}
.thirdScreen .row .case-seven .i7 {
  height: 150px;
  background: url(../img/sale-plan.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-seven .i7:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-eight {
  background: #c7091d;
}
.thirdScreen .row .case-eight .i8 {
  height: 150px;
  background: url(../img/armastroy.png) no-repeat center center;
  transition: all 0.4s ease-in-out;
}
.thirdScreen .row .case-eight .i8:hover:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
}
.thirdScreen .row .case-block {
  position: relative;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  float: left;
  text-align: center;
}
.thirdScreen .row .case-block img {
  padding-top: 20px;
  margin: 0 auto;
}
.thirdScreen .row .case-block .data-block {
  position: absolute;
  bottom: 0;
  width: 99.7%;
  margin: 0 auto;
  background: #fff;
  height: 100px;
}
.thirdScreen .row .case-block .data-block p.name {
  color: #454545;
  font-size: 20px;
  font-family: 'bold';
  padding: 15px 0 0;
  text-decoration: none;
}
.thirdScreen .row .case-block .data-block p.name::after {
  display: block;
  margin-top: 15px;
  margin: 15px auto 0 auto;
  content: ' ';
  width: 80%;
  border-bottom: 1px solid #ccc;
  height: 1px;
}
.thirdScreen .row .case-block .data-block .col {
  float: left;
  width: 33.33%;
  text-align: center;
}
.thirdScreen .row .case-block .data-block .col i span q {
  position: absolute;
  display: none;
  background: #00a79d;
  font-family: 'regular';
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  padding: 8px 20px 6px 20px;
  line-height: 14px;
  left: 0;
  top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
}
.thirdScreen .row .case-block .data-block .col i span q:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: #00a79d;
  left: 50%;
  margin-left: -8px;
  top: -2px;
  -moz-transform: rotate(25deg) skewY(40deg);
  -o-transform: rotate(25deg) skewY(40deg);
  -webkit-transform: rotate(25deg) skewY(40deg);
  transform: rotate(25deg) skewY(40deg);
  z-index: -1;
}
.thirdScreen .row .case-block .data-block .col i.first {
  margin-left: 10px;
  cursor: pointer;
  font-family: 'regular';
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #454545;
  font-style: normal;
}
.thirdScreen .row .case-block .data-block .col i.first:hover {
  color: #00a79d;
}
.thirdScreen .row .case-block .data-block .col i.first:hover span:before {
  background-position: 0px 0px;
}
.thirdScreen .row .case-block .data-block .col i.first span {
  display: inline-block;
  position: relative;
  padding-left: 35px;
}
.thirdScreen .row .case-block .data-block .col i.first span:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 31px;
  height: 31px;
  background-image: url(../img/icons.png);
  background-position: 0 -31px;
}
.thirdScreen .row .case-block .data-block .col i.first span:hover q {
  display: block;
}
.thirdScreen .row .case-block .data-block .col i.second {
  cursor: pointer;
  font-family: 'regular';
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #454545;
  font-style: normal;
}
.thirdScreen .row .case-block .data-block .col i.second:hover {
  color: #00a79d;
}
.thirdScreen .row .case-block .data-block .col i.second:hover span:before {
  background-position: -31px 0px;
}
.thirdScreen .row .case-block .data-block .col i.second span {
  display: inline-block;
  position: relative;
  padding-left: 35px;
}
.thirdScreen .row .case-block .data-block .col i.second span:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 31px;
  height: 31px;
  background-image: url(../img/icons.png);
  background-position: -31px -31px;
}
.thirdScreen .row .case-block .data-block .col i.second span:hover q {
  display: block;
}
.thirdScreen .row .case-block .data-block .col i.third {
  cursor: pointer;
  font-family: 'regular';
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #454545;
  font-style: normal;
}
.thirdScreen .row .case-block .data-block .col i.third:hover {
  color: #00a79d;
}
.thirdScreen .row .case-block .data-block .col i.third:hover span:before {
  background-position: -64px 0;
}
.thirdScreen .row .case-block .data-block .col i.third span {
  display: inline-block;
  position: relative;
  padding-left: 35px;
}
.thirdScreen .row .case-block .data-block .col i.third span:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 31px;
  height: 31px;
  background-image: url(../img/icons.png);
  background-position: -64px -31px;
}
.thirdScreen .row .case-block .data-block .col i.third span:hover q {
  display: block;
}
.fourthScreen .email {
  height: 50%;
  width: 100%;
  background: url(../img/frame.png) no-repeat;
  background-size: 100% 100%;
}
.fourthScreen .email form {
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0 50px;
  width: 100%;
}
.fourthScreen .email form input {
  width: 100%;
  height: 20px;
  background: transparent;
  font-size: 25px;
  color: #000;
  padding: 15px;
  font-family: 'light';
  border: none;
  border-bottom: 1px solid #000;
  transition: all .4s ease;
}
.fourthScreen .email form input:focus,
.fourthScreen .email form input:active {
  background: #ccc;
  outline: none;
  transition: all .4s ease;
}
.fourthScreen .email form input:focus::-webkit-input-placeholder,
.fourthScreen .email form input:active::-webkit-input-placeholder {
  color: transparent;
  transition: all .4s ease;
}
.fourthScreen .email form .what-to-do {
  height: 45px;
  font-size: 25px;
  font-family: 'bold';
  border-bottom: 1px solid #000;
  padding: 15px 0 10px;
  width: 100%;
}
.fourthScreen .email form .what-to-do p {
  padding-left: 15px;
  width: 300px;
  float: left;
}
.fourthScreen .email form .what-to-do .togglebox {
  cursor: pointer;
  width: 140px;
  padding: 10px;
  background: #cccccc;
  transition: all .4s ease;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  text-align: center;
  color: #000;
  font-family: 'light';
}
.fourthScreen .email form .what-to-do .togglebox.active {
  background: #e55200;
  color: #fff;
  transition: all .4s ease;
}
.fourthScreen .email form textarea {
  font-size: 25px;
  width: 100%;
  resize: none;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #000;
}
.fourthScreen .email form textarea:focus,
.fourthScreen .email form textarea:active {
  outline: none;
  background: #ccc;
}
.fourthScreen .email form textarea:focus::-webkit-input-placeholder,
.fourthScreen .email form textarea:active::-webkit-input-placeholder {
  color: transparent;
}
.fourthScreen .email form input[type=submit] {
  height: 50px;
  color: #fff;
  width: 100%;
  background: #000;
  padding: 0;
}
.fourthScreen .email form input[type=submit]:hover {
  cursor: pointer;
  background: #262626;
}
.fourthScreen #map {
  background: #ccc;
  height: 50%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .secondScreen {
    background: url(../img/secondslide.png) no-repeat center center;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 1376px) {
  .thirdScreen .row {
    height: 250px;
  }
  .fourthScreen input[type=text] {
    padding: 5px !important;
    font-size: 18px !important;
  }
  .fourthScreen .what-to-do {
    height: 30px !important;
    padding: 5px !important;
    font-size: 18px !important;
  }
  .fourthScreen .what-to-do p {
    padding-left: 5px !important;
  }
  .fourthScreen .what-to-do .togglebox {
    width: 150px !important;
    padding: 7px !important;
  }
  .fourthScreen textarea {
    resize: none;
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1281px) {
  .thirdScreen .row .case-block .data-block p.name {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .secondScreen figcaption {
    margin-top: 20px !important;
  }
  .thirdScreen .row .case-block .data-block p.name {
    font-size: 16px !important;
  }
  .fourthScreen .email form .what-to-do p {
    width: auto !important;
  }
  .fourthScreen .email form .what-to-do .togglebox {
    width: 128px !important;
    margin-left: 0px !important;
  }
}
/* for the responsivness */
@media screen and (max-width: 769px) {
  .column p {
    font-size: 18px !important;
  }
  .case-block {
    width: 50% !important;
  }
  .case-block.case-three,
  .case-block.case-four {
    display: none !important;
  }
}
@media screen and (max-width: 568px) {
  .firstScreen h1 {
    font-size: 36px !important;
  }
  .firstScreen span.font-50 {
    font-size: 24px !important;
  }
  .secondScreen .headerOfBlock .width {
    font-size: 30px !important;
  }
  .secondScreen .headerOfBlock .rotate-left {
    transform: rotate(0deg) !important;
    font-size: 24px !important;
  }
  .secondScreen .headerOfBlock .rotate-right {
    transform: rotate(0deg) !important;
    font-size: 24px !important;
  }
  .figures li.selected > figure > figcaption {
    background: #e55200 !important;
    color: #fff !important;
    transition: all .4s ease;
  }
  .figures li figure figcaption {
    font-size: 14px !important;
    background: #fff;
    border: 1px solid #e55200;
    padding-bottom: 0 !important;
    padding-top: 10px !important;
    height: 45px !important;
    transition: all .4s ease;
  }
  .figures li figure .imgbox {
    display: none !important;
  }
  .price-block {
    margin-top: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid #e55200 !important;
    border-top: none !important;
    height: 125px !important;
  }
  .price-block h3 {
    font-size: 18px !important;
    padding: 7px 0 !important;
  }
  .price-block .column p {
    font-size: 12px !important;
  }
  .price-block .column img {
    margin-top: 5px !important;
    max-height: 40px !important;
  }
  .thirdScreen h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
  }
  .thirdScreen .row {
    height: 120px !important;
  }
  .thirdScreen .row .case-block .case-study img {
    max-height: 100px !important;
  }
  .thirdScreen .row .case-block .data-block {
    display: none !important;
  }
  .thirdScreen .row .case-block.case-two .case-study img {
    padding-top: 30px !important;
  }
  .thirdScreen .row .case-block.case-seven .case-study img {
    padding-top: 50px !important;
  }
  .thirdScreen .row .case-block.case-eight .case-study img {
    padding-top: 30px !important;
  }
  .thirdScreen .row .case-block.case-five,
  .thirdScreen .row .case-block.case-six {
    display: none !important;
  }
  .fourthScreen .email {
    height: 100% !important;
  }
  .fourthScreen .email form {
    height: 100% !important;
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .fourthScreen .email form input[type=text] {
    font-size: 12px !important;
  }
  .fourthScreen .email form .what-to-do {
    height: 60px !important;
  }
  .fourthScreen .email form .what-to-do p {
    font-size: 12px !important;
    width: auto !important;
    padding-left: 0 !important;
  }
  .fourthScreen .email form textarea {
    font-size: 12px !important;
  }
  .fourthScreen .email form input[type=submit] {
    font-size: 12px !important;
  }
  .fourthScreen #map {
    display: none !important;
  }
}
.secondScreen .content .price-block {
  box-sizing: border-box;
}
.secondScreen > .content {
  width: 960px !important;
}
.figures li[data-content=lp].selected figure .imgbox.lp {
  background: url(../img/comp-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.figures li[data-content=design].selected figure .imgbox.design {
  background: url(../img/design-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.figures li[data-content=copy].selected figure .imgbox.copy {
  background: url(../img/copy-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.figures li[data-content=context].selected figure .imgbox.context {
  background: url(../img/context-active.png) no-repeat center center;
  background-size: 100% 100%;
}
.address {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 65%;
  text-transform: uppercase;
}
.address .left-side {
  float: left;
}
.address .left-side .blue {
  float: right;
  background: #0076bd;
  color: #fff;
  font-family: 'light';
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 20px;
  max-width: 185px;
  text-align: right;
}
.address .left-side .l-orange {
  margin-top: 55px;
  padding: 3px 10px 25px 10px;
  background: url(../img/l-orange.png) no-repeat center;
  background-size: 100% 100%;
  text-align: right;
  color: #fff;
  font-size: 28px;
  font-family: 'bold';
  text-transform: none;
}
.address .right-side {
  margin-left: 20px;
  float: right;
}
.address .right-side .orange {
  color: #fff;
  font-family: 'bold';
  text-align: left;
}
.address .right-side .orange span.thephone {
  font-size: 35px;
  background: #ff7f03;
  padding: 5px 10px;
}
.address .right-side .orange span.theemail {
  font-size: 20px;
  background: #ff7f03;
  padding: 5px 10px;
}
#success {
  position: absolute;
  top: 20%;
  font-size: 20px;
  color: #454545;
  left: 50%;
  font-family: 'bold';
  text-align: center;
  display: none;
}
