*{
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'blackitalic';
	src: url(../fonts/BlackItalic.otf);
}
@font-face {
	font-family: 'bold';
	src: url(../fonts/Bold.otf);
}
@font-face {
	font-family: 'semibold';
	src: url(../fonts/SemiBold.otf);
}
@font-face {
	font-family: 'light';
	src: url(../fonts/Light.otf);
}
@font-face {
	font-family: 'regular';
	src: url(../fonts/Regular.otf);
}

.tab-content li{
	display: none;
}

.tab-content li.selected {
	display: block;
}

.figures li {
	list-style: none;
}

.row a.case-study {
	text-decoration: none;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	z-index: 10;
	height: 100%;
	width: 100%;
	.loader {
		width: 170px;
		height: 150px;
		position: absolute;
		left: 50%;
		margin-left: -85px;
		top: 50%;
		margin-top: -75px;
		background: url(../img/preloader.gif) no-repeat;
	}
}

body {
	max-width: 100%;
	min-width: 100%;
}

#canvas_container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 0;
}

.content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.firstScreen {
	//background: url(../img/firstscreen.jpg) no-repeat center center;
	background-size: 100% 100%;
	text-align: center;
	h1 {
		position: relative;
		z-index: 1;
		font-size: 72px;
		font-family: 'blackitalic';
		color: #053431;
	}
	span.font-50 {
		font-size :50px;
		font-family: 'blackitalic';
		color: #fff;
	}
	.next-slide {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
		text-align: center;
		.button {
			cursor: pointer;
			height: 50px;
			width: 50px;
			position: relative;
			top: 0;
		}
	}
}

.secondScreen {
	background: url(../img/secondScreen.png) no-repeat center top;
	background-size: 100% 100%;
	text-align: center;
	.content {
		width: 960px;
		margin-top: 100px;
		text-align: center;
		.headerOfBlock {
			text-transform: uppercase;
			margin-top: 40px;
			width: 100%;
			display: block;
			position: absolute;
			text-align: center;
			top: 0;
			left: 0;
			font-size: 36px;
			color: #000;
			font-family: 'bold';
			.rotate-right {
				margin-left: 5px;
				float: right;
				transform: rotate(-7deg);
				font-size: 40px;
				color: #330000;
			}
			.rotate-left {
				margin-right: 5px;
				float: left;
				transform: rotate(7deg);
				font-size: 40px;
				color: #330000;
			}
		}
		.figures {
			figure {
				cursor: pointer;
				text-align: center;
				width: 25%;
				float: left;
				height: 220px;
				figcaption {
					padding-bottom: 20px;
					height: 59px;
					color: #000;
					font-size: 24px;
					font-family: 'bold';
				}
				.imgbox {
					margin: 0 auto;
					transition: all .4s ease;
				}
				.imgbox.lp {
					transition: all .4s ease;
					background: url(../img/comp.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.design {
					background: url(../img/design.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.copy {
					background: url(../img/copy.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.context {
					background: url(../img/context.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.lp:hover{
					transition: all .4s ease;
					background: url(../img/comp-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.design:hover{
					transition: all .4s ease;
					background: url(../img/design-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.copy:hover{
					transition: all .4s ease;
					background: url(../img/copy-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.imgbox.context:hover{
					transition: all .4s ease;
					background: url(../img/context-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.figures li.selected .imgbox.lp{
					transition: all .4s ease;
					background: url(../img/comp-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.figures li.selected .imgbox.design.selected{
					transition: all .4s ease;
					background: url(../img/design-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.figures li.selected .imgbox.copy.selected{
					transition: all .4s ease;
					background: url(../img/copy-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
				.figures li.selected .imgbox.context.selected{
					transition: all .4s ease;
					background: url(../img/context-active.png) no-repeat center center;
					background-size: 100% 100%;
				}
			}&:after {
				content: '';
				display: block;
				min-height: 1px;
				clear: both;
			}
		}
		.price-block {
			visibility: hidden;
			margin-top: 20px;
			width: 100%;
			padding-bottom: 175px;
			background: #fff;
			border: 8px solid #e55200;
			border-radius: 20px;
			text-align: center;
			h3 {
				font-size: 36px;
				font-family: 'semibold';
				color: #00a79d;
				padding: 20px 0;
			}
			.column {
				border-right: 3px solid #e55200;
				float: left;
				width: 32.9%;
				text-align: center;
				p {
					font-size: 24px;
					font-family: 'bold';
				}
				img {
					max-height: 102px;
					margin-top: 10px;
				}
			}:last-child {
				border-right: none !important;
			}
		}
	}
}

.thirdScreen {
	background: url(../img/thirdscreen.jpg) no-repeat center center;
	background-size: 100% 100%;
	.content h1 {
		font-size: 62px;
		font-family: 'bold';
		text-align: center;
		color: #fff;
		padding: 20px 0 70px;
		text-transform: uppercase;
	}
	.row {
		width: 100%;
		height: 315px;
		.case-one {
			background: #fbd716;
			.i1 {
				height: 150px;
				background: url(../img/befirst.png) no-repeat center center;
				background-size: 80px;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
		}
	}	
		.case-two {
			background: #5ba11c;
			.i2 {
				height: 150px;
				background: url(../img/baloons.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-three {
			background: #00415c;
			.i3{
				height: 150px;
				background: url(../img/eye.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-four {
			background: #395791;
			.i4 {
				height: 150px;
				background: url(../img/razdolbay.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-five {
			background: #b12e2e;
			.i5 {
				height: 150px;
				background: url(../img/extreme-base.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-six {
			background: #00aeff;
			.i6 {
				height: 150px;
				background: url(../img/freshclick.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-seven {
			background: #0cd19e;
			.i7 {
				height: 150px;
				background: url(../img/sale-plan.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-eight {
			background: #c7091d;
			.i8 {
				height: 150px;
				background: url(../img/armastroy.png) no-repeat center center;
				transition: all .4s ease-in-out;
				&:hover {
					&:after {
					content: '';
					position: absolute;
					display: block;
					transition: all .4s ease-in-out;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 150px;
					background: rgba(0, 0, 0, 0.8) url(../img/eye-hover.png) no-repeat center center;
				}
			}
			}
		}
		.case-block {
			position: relative;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			width: 25%;
			float: left;
			text-align: center;
			img {
				padding-top: 20px;
				margin: 0 auto;
			}
			.data-block {
				position: absolute;
				bottom: 0;
				width: 99.7%;
				margin: 0 auto;
				background: #fff;
				height: 100px;
				p.name {
					color: #454545;
					font-size: 20px;
					font-family: 'bold';
					padding: 15px 0 0;
					text-decoration: none;
					&::after {
						display: block;
						margin-top: 15px;
						margin: 15px auto 0 auto;
						content: ' ';
						width: 80%;
						border-bottom: 1px solid #ccc;
						height: 1px;
					}
				}
				.col {
					float: left;
					width: 33.33%;
					text-align: center;
					i span q {
						position:absolute;
						display:none;
						background:#00a79d;
						font-family: 'regular';
						font-size:14px;
						text-transform:uppercase;
						color:#FFF;		
						padding:8px 20px 6px 20px;
						line-height:14px;
						left:0;
						top:30px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						z-index:1;
						&:before {
							position:absolute;
							content:'';
							width:16px;
							height:16px;
							background:#00a79d;
							left:50%;
							margin-left:-8px;
							top:-2px;
							-moz-transform:    rotate(25deg) skewY(40deg);
						    -o-transform:      rotate(25deg) skewY(40deg);
						    -webkit-transform: rotate(25deg) skewY(40deg);
						    transform:         rotate(25deg) skewY(40deg);
							z-index:-1;
						}
					}
					i.first {
						margin-left: 10px;
						cursor: pointer;
						font-family: 'regular';
						font-size: 18px;
						display: table-cell;
						vertical-align: middle;
						height: 50px;
						width: 50px;
						text-align: center;
						color: #454545;
						font-style: normal;
						&:hover {
							color: #00a79d;
							span:before {
								background-position: 0px 0px;
							}
						}
							span {
								display: inline-block;
								position: relative;
								padding-left: 35px;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: -8px;
									left: 0;
									width: 31px;
									height: 31px;
									background-image: url(../img/icons.png);
									background-position: 0 -31px;
								}
								&:hover {
									q {
										display: block;
									}
								}
							}
					}
					i.second{
						cursor: pointer;
						font-family: 'regular';
						font-size: 18px;
						display: table-cell;
						vertical-align: middle;
						height: 50px;
						width: 50px;
						text-align: center;
						color: #454545;
						font-style: normal;
						&:hover {
							color: #00a79d;
							span:before {
								background-position: -31px 0px;
							}
						}
							span {
								display: inline-block;
								position: relative;
								padding-left: 35px;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: -8px;
									left: 0;
									width: 31px;
									height: 31px;
									background-image: url(../img/icons.png);
									background-position: -31px -31px;
								}
								&:hover {
									q {
										display: block;
									}
								}
							}
					}
					i.third {
						cursor: pointer;
						font-family: 'regular';
						font-size: 18px;
						display: table-cell;
						vertical-align: middle;
						height: 50px;
						width: 50px;
						text-align: center;
						color: #454545;
						font-style: normal;
						&:hover {
							color: #00a79d;
							span:before {
								background-position: -64px 0;
							}
						}
							span {
								display: inline-block;
								position: relative;
								padding-left: 35px;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: -8px;
									left: 0;
									width: 31px;
									height: 31px;
									background-image: url(../img/icons.png);
									background-position: -64px -31px;
								}
								&:hover {
									q {
										display: block;
									}
								}
							}
					}
				
				}
			}
		}
	}
}

.fourthScreen {
	.email {
		height: 50%;
		width: 100%;
		background: url(../img/frame.png) no-repeat;
		background-size: 100% 100%;
		form {
			overflow: hidden;
			margin: 0 auto;
			padding: 50px 0 50px;
			width: 100%;
			input {
				width: 100%;
				height: 20px;
				background: transparent;
				font-size: 25px;
				color: #000;
				padding: 15px;
				font-family: 'light';
				border: none;
				border-bottom: 1px solid #000;
				transition: all .4s ease;
				&:focus, &:active {
					background: #ccc;
					outline: none;
					transition: all .4s ease;
					&::-webkit-input-placeholder {
						color: transparent;
						transition: all .4s ease;
					}
				}
			}
			.what-to-do {
				height: 45px;
				font-size: 25px;
				font-family: 'bold';
				border-bottom: 1px solid #000;
				padding: 15px 0 10px;
				width: 100%;
				p {
					padding-left: 15px;
					width: 300px;
					float: left;
				}
				.togglebox {
					cursor: pointer;
					width: 140px;
					padding: 10px;
					background: #cccccc;
					transition: all .4s ease;
					float: left;
					margin-left: 20px;
					font-size: 12px;
					text-align: center;
					color: #000;
					font-family: 'light';
				}
				.togglebox.active {
					background: #e55200;
					color: #fff;
					transition: all .4s ease;
				}
			}
			textarea {
				font-size: 25px;
				width: 100%;
				resize: none;
				padding: 15px;
				border: none;
				border-bottom: 1px solid #000;
				&:focus, &:active {
					outline: none;
					background: #ccc;
					&::-webkit-input-placeholder {
						color: transparent;
					}
				}
			}
			input[type=submit] {
				height: 50px;
				color: #fff;
				width: 100%;
				background: #000;
				padding: 0;
				&:hover {
					cursor: pointer;
					background: lighten(#000, 15%);
				}
			}
		}
	}
	#map {
		background: #ccc;
		height: 50%;
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.secondScreen {
		background: url(../img/secondslide.png) no-repeat center center;
		background-size: 100% 100%;
	}
}



@media screen and (max-width: 1376px) {
	
	.thirdScreen {
		.row {
			height: 250px;
		}
	}
	.fourthScreen {
		input[type=text] {
			padding: 5px !important;
			font-size: 18px !important;
		}
		.what-to-do {
			height: 30px !important;
			padding: 5px !important;
			font-size: 18px !important;
			p {
				padding-left: 5px !important;
			}
			.togglebox {
				width: 150px !important;
				padding: 7px !important;
			}
		}
		textarea {
			resize: none;
			font-size: 18px !important;
		}
	}
}

@media screen and (max-width: 1281px) {
	.thirdScreen .row .case-block .data-block p.name {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 768px) {
	.secondScreen {
		figcaption {
			margin-top: 20px !important;
		}
		.imgbox {
		}
	}
	.thirdScreen {
		.row {
			.case-block {
				.data-block {
					p.name {
						font-size: 16px !important;
					}
				}
			}
		}
	}
	.fourthScreen {
		.email {
			form {
				.what-to-do {
					p {
						width: auto !important;
					}
					.togglebox {
						width: 128px !important;
						margin-left: 0px !important;
					}
				}
			}
		}
	}
}

/* for the responsivness */

@media screen and (max-width: 769px) {
	.column p{
		font-size: 18px !important;
	}
	.case-block {
		width: 50% !important;
	}
	.case-block.case-three, .case-block.case-four{
		display: none !important;
	}
}

@media screen and (max-width: 568px) {
	.firstScreen {
		h1 {
			font-size: 36px !important;
		}
		span.font-50 {
			font-size: 24px !important;
		}
	}
	.secondScreen {
		.headerOfBlock {
			.width {
				font-size: 30px !important;
			}
			.rotate-left {
				transform: rotate(0deg) !important;
				font-size: 24px !important;
			}
			.rotate-right {
				transform: rotate(0deg) !important;
				font-size: 24px !important;
			}
		}
	}
	.figures {
		li.selected > figure > figcaption {
			background: #e55200 !important;
			color: #fff !important;
			transition: all .4s ease;
		}
		li {
			figure {
				figcaption {
					font-size: 14px !important;
					background: #fff;
					border: 1px solid #e55200;
					padding-bottom: 0 !important;
					padding-top: 10px !important;
					height: 45px !important;
					transition: all .4s ease;
				}
				.imgbox {
					display: none !important;
				}
			}
		}
	}
	.price-block {
		margin-top: 0 !important;
		border-top-left-radius: 0px !important;
		border-top-right-radius: 0px !important;
		border: 1px solid #e55200 !important;
		border-top: none !important;
		height: 125px !important;
		h3 {
			font-size: 18px !important;
			padding: 7px 0 !important;
		}
		.column {
			p {
				font-size: 12px !important;
			}
			img {
				margin-top: 5px !important;
				max-height: 40px !important;
			}
		}
	}
	.thirdScreen {
		h1 {
			font-size: 18px !important;
			padding-bottom: 10px !important;
		}
		.row {
			height: 120px !important;
			.case-block {
				.case-study {
					img {
						max-height: 100px !important;
					}
				}
				.data-block {
					display: none !important;
				}
			}
			.case-block.case-two .case-study img{
				padding-top: 30px !important;
			}
			.case-block.case-seven .case-study img{
				padding-top: 50px !important;
			}
			.case-block.case-eight .case-study img{
				padding-top: 30px !important;
			}
			.case-block.case-five, .case-block.case-six {
				display: none !important;
			}
		}
	}
	.fourthScreen {
		.email {
			height: 100% !important;
			form {
				height: 100% !important;
				padding: 0 !important;
				padding-top: 10px !important;
				input[type=text] {
					font-size: 12px !important;
				}
				.what-to-do {
					height: 60px !important;
					p {
						font-size: 12px !important;
						width: auto !important;
						padding-left: 0 !important;
					}
				}
				textarea {
					font-size: 12px !important;
				}
				input[type=submit] {
					font-size: 12px !important;
				}
			}
		}
		#map {
			display: none !important;
		}
	}
}

.secondScreen .content .price-block {
	box-sizing: border-box;
}

.secondScreen > .content {
	width: 960px !important;
}

.figures li[data-content=lp].selected {
	figure .imgbox.lp {
		background: url(../img/comp-active.png) no-repeat center center;
		background-size: 100% 100%;
	}
}
.figures li[data-content=design].selected {
	figure .imgbox.design {
		background: url(../img/design-active.png) no-repeat center center;
		background-size: 100% 100%;
	}
}

.figures li[data-content=copy].selected {
	figure .imgbox.copy {
		background: url(../img/copy-active.png) no-repeat center center;
		background-size: 100% 100%;
	}
}

.figures li[data-content=context].selected {
	figure .imgbox.context {
		background: url(../img/context-active.png) no-repeat center center;
		background-size: 100% 100%;
	}
}

.address {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 65%;
	text-transform: uppercase;
	.left-side {
		float: left;
		.blue {
			float: right;
			background: #0076bd;
			color: #fff;
			font-family: 'light';
			padding: 5px 10px;
			margin-bottom: 20px;
			font-size: 20px;
			max-width: 185px;
			text-align: right;
		}
		.l-orange {
			margin-top: 55px;
			padding: 3px 10px 25px 10px;
			background: url(../img/l-orange.png) no-repeat center;
			background-size: 100% 100%;
			text-align: right;
			color: #fff;
			font-size: 28px;
			font-family: 'bold';
			text-transform: none;
		}
	}
	.right-side {
		margin-left: 20px;
		float: right;
		.orange {
			color: #fff;
			font-family: 'bold';
			text-align: left;
			span.thephone {
				font-size: 35px;
				background: #ff7f03;
				padding :5px 10px;
			}
			span.theemail {
				font-size: 20px;
				background: #ff7f03;
				padding: 5px 10px;
			}
		}
	}
}

#success {
	position: absolute;
	top: 20%;
	font-size: 20px;
	color: #454545;
	left: 50%;
	font-family: 'bold';
	text-align: center;
	display: none;
}
