* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
}

@blue-color: #017bc4;
@red-color: #e62e2e;

@font-face {
  font-family: acrombold;
  src: url(../fonts/Bold.otf);
}
@font-face {
  font-family: acromextrabold;
  src: url(../fonts/ExtraBold.otf);
}
@font-face {
  font-family: acromlight;
  src: url(../fonts/Light.otf);
}
@font-face {
  font-family: acrommed;
  src: url(../fonts/Medium.otf);
}
@font-face {
  font-family: acromreg;
  src: url(../fonts/Regular.otf);
}
@font-face {
  font-family: acromthin;
  src: url(../fonts/Thin.otf);
}


.red-bg {
	color: #fff;
	min-width: 400px;
	max-width: 700px;
	padding: 4em/16em 16em/16em;
	background: url(../img/red.png) no-repeat center center;
	background-size: 100% 100%;
}

.white-bg {
	min-width: 400px;
	max-width: 700px;
	padding: 4em/16em 16em/16em;
	background: url(../img/white.png) no-repeat center center;
	background-size: 100% 100%;
}

.blue-price {
	height: 40px;
	width: 145px;
	font-size: 2rem;
	font-family: 'acrombold';
	position: absolute;
	z-index: 9;
	top: 230px;
	left: 35px;
	background: url(../img/blue-price.png) no-repeat center center;
	background-size: 100% 100%;
	padding-left: 25px;
	color: #fff;
}

header {
	height: 70px;
	.container {
		.logo {
			float: left;
			img {
				text-align: left;
				margin-top: 10px;
			}
		}
		.contact-block {
			float: right;
			text-align: center;
			font-size: 1.6rem;
			font-family: 'acrommed';
			span.phone {
				font-size: 3rem;
				font-family: 'acrombold';
			}
		}
	}
}

.hero {
	.gears {
		background: url(../img/gears.png) no-repeat;
		position: absolute;
		z-index: 1;
		top: 470px;
		right: 0;
		height: 600px;
		width: 400px;
	}
	height: 700px;
	background: url(../img/header.jpg) no-repeat center center;
	.main-content {
		margin-top: 85px;
		text-align: center;
		.first-line {
			font-size: 4rem;
			color: #fff;
			font-family: 'acrombold';
		}
		.sec-line {
			margin-top: 50px;
			font-family: 'acrombold';
			font-size: 3.5rem;
		}
	}
	.sub-content {
		text-align: center;
		margin-top: 200px;
		font-size: 3rem;
		font-family: 'acrombold';
		div:first-child {
			margin-bottom: 20px;
		}
	}
}

.result {
	.result-bg {
		background: url(../img/result-bg.png) no-repeat center center;
		width: 100%;
		position: absolute;
		z-index: -1;
		min-height: 2200px;
		top: 710px;
	}
	position: relative;
	z-index: 1;
	text-align: center;
	.container {
		.div-header{
			text-align: center;
			font-size: 3.5rem;
			font-family: 'acrombold';
		}
		.result-block {
			text-align: left;
			margin: 20px auto;
			.result-block-header {
				padding-top: 25px;
				font-size: 2rem;
				font-family: 'acrommed';
			}
			.result-block-content {
				padding-top: 25px;
				font-size: 1.4rem;
				font-family: 'acromreg';
			}
			.img {
				.left {
					float: left;
				}
				.right {
					float: right;
				}
			}
		}&:last-child {
			border-bottom: 1px solid #a1a1a1;
		}
	}
	img.metall-line {
		margin: 0 auto;
	}
}

.production {
	.div-header{
		margin-top: 50px;
		font-size: 3.5rem;
		text-align: center;
		font-family: 'acrombold';
		&:nth-child(2) {
			margin-top: 0;
		}
	}
	.the-row {
		margin-top: 50px;
		width: 100%;
		.product {
			a {
				border-radius: 3px;
				font-size: 3rem;
				padding: 1rem 3rem;
				position:absolute;
				z-index: 2;
				background: #e62e2e;
				color: #Fff;
				text-decoration: none;
				transition: all 0.4s ease-in-out;
				font-family: 'acrommed';
				top: 275px;
				left: 165px;
				cursor: pointer;
				&:hover {
					border-radius: 3px;
					transition: all 0.4s ease-in-out;
					background: #017bc4;
				}
			}
			background: url(../img/cargo-back.jpg) no-repeat;
			background-size: 100% 100%;
			height: 310px;
			max-width: 520px;
			margin: 0 15px;
			padding: 0 !important;
			.product-container {
				padding: 60px 20px 20px 20px;
				img {
					float: left;
					max-width: 175px;
					max-height: 220px;
				}
				.product-container-text {
					float: right;
					max-width: 275px;
					padding-top: 10px;
					h6 {
						font-size: 3rem;
						font-family: 'acromextrabold';
					}
					h6.font21 {
						font-size: 2.1rem;
					}
					p {
						font-family: 'acromreg';
						font-size: 1.6rem;
					}
				}
			}
		}&:last-child {
		margin-bottom: 75px;
		}
	}

}

.video {
	min-height: 1100px;
	max-height: 1936px;
	background: url(../img/grey-bg.png) no-repeat center center;
	background-size: 100% 100%;
	margin-top: -90px;
	.div-header{
		font-size: 3.5rem;
		margin-top: 150px;
		margin-bottom: 30px;
		text-align: center;
		font-family: 'acrommed';
	}
	.to-video {
		position: relative;
		width: 100%;
		text-align: center;
		img {
			min-width: 300px;
			width: 800px;
			max-width: 100%;
			position: absolute;
			left: 50%;
			margin-left: -400px;
		}
		iframe {
			position: relative;
			margin-top: 30px;
			height: 375px;
		}
	}
	.eff {
		font-size: 3.5rem;
		text-align: center;
		margin: 50px 0;
	}
}

.sertificates {
	.div-header	{
		font-size: 3.5rem;
		text-align: center;
		margin-bottom: 35px;
		font-family: 'acrommed';
	}
	.carousel {
		.carousel-inner {
			text-align: center;
			a {
				display: inline-block;
				background: url(../img/selected-sert.png) no-repeat center center;
				cursor: pointer;
				img {
					max-width: 250px;
					display: inline;
					transition: all 0.4s ease-in-out;
				}
			}
		}
	}
	a.right, a.left {
		background: transparent;
		margin-top: 120px;
	}
}

.get-consult {
	margin: 0 auto;
	text-align: center;
	.free-consult {
		font-family: 'acrommed';
		font-size: 3rem;
		text-align: center;
		background: #e62e2e;
		padding: 1.5rem 2.1rem;
		height: 57px;
		width: 618px;
		border-radius: 3px;
		transition: all 0.4s ease-in-out;
		text-decoration: none;
		color: #Fff;
		box-shadow: 0 2px 5px #333;
		&:hover {
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.4s ease-in-out;
			background: #017bc4;
		}
	}
}

.reviews {
	.div-header{
		font-size: 3.5rem;
		font-family: 'acrommed';
 		text-align: center;
		margin: 50px 0;
	}
	.carousel {
		text-align: center;
	}
	a.left, a.right {
		margin-top: 150px;
		background: transparent;
	}
	.the-review {
		border-radius: 5px;
		margin-top: 30px;
		padding: 20px;
		width: 100%;
		border: 1px solid #e1e1e1;
		font-family: 'acromreg';
		font-size: 1.8rem;
		.bold {
			font-family: 'acrombold';
		}
		.divider {
			background: #e62e2e;
			margin: 25px auto;
			width: 140px;
			height: 1px;
		}
		p {
			font-size: 1.6rem;
		}
	}
}

.address {
	margin-bottom: 70px;
	text-align: center;
	.div-header{
		margin: 50px 0;
		font-size: 3.5rem;
		font-family: 'acrommed';
		text-align: center;
		span {
			font-size: 2.5rem;
			font-family: 'acromreg';
			padding-top: 15px;
		}
	}
	.the-address {
		max-width: 670px;
		margin: 0 auto;
		text-align: left;
		font-family: 'acrommed';
		font-size: 2.1rem;
		p {
			float: left;
		}
		.font-18 {
			font-size: 1.8rem;
			font-family: 'acromreg';
		}
		a.button {
			box-shadow: 0px 2px 5px #000;
			margin-top: 20px;
			background: #e62e2e;
			float: right;
			padding: 1.3rem 3.6rem;
			border: 0px;
			color: #fff;
			border-radius: 3px;
			transition: all 0.4s ease-in-out;
			&:hover {
				transition: all 0.4s ease-in-out;
				background: #017bc4;
			}
		}
	}&:last-child {
		
	}
}

.form {
	background: url(../img/grey-bg.png) no-repeat center center;
	background-size: 100% 100%;
	min-height: 550px;
	.div-header{
		text-align: center;
		font-size: 3.5rem;
		font-family: 'acrommed';
		margin: 50px 0px 100px;
	}
	.left-side {
		padding-top: 50px;
		float: left;
		text-align: center;
		font-size: 3rem;
		font-family: 'acrommed';
	}
	.right-side {
		float: right;
		input[name=username] {
			font-size: 1.6rem;
			font-family: 'acrommed';
			width: 310px;
			height: 45px;
			padding: 1.7rem;
			padding-left: 4.5rem;

			background: transparent;
			background-image: url(../img/phone.png);
			background-repeat: no-repeat;
			background-position: 15px 12px;
			color: #000;
			border-radius: 3px;
			border: 1px solid #898989;
		}
		textarea[name=question] {
			font-size: 1.6rem;
			font-family: 'acrommed';
			width: 310px;
			height: 105px;
			padding-top: 1.2rem;
			padding-left: 4.5rem;
			margin-top: 35px;
			background: transparent;
			background-image: url(../img/question.png);
			background-repeat: no-repeat;
			background-position: 15px 12px;
			border-radius: 3px;
			border: 1px solid #898989;
			resize: none;
		}
		input[type=submit] {
			text-align: center;
			font-family: 'acrommed';
			width: 310px;
			height: 45px;
			background: #e62e2e;
			box-shadow: 0px 2px 5px #000;
			border: none;
			border-radius: 3px;
			color: #Fff;
			font-size: 2.5rem;
			transition: all 0.4s ease-in-out;
			margin-top: 35px;
			&:hover {
				transition: all 0.4s ease-in-out;
				background: #0091ea;
			}
		}
	}
}

footer {
	position: relative;
	z-index: -1;
	height: 250px;
	margin-top: -300px;
	background: #f2f5f6;
	.footer-plank {
		position: relative;
		margin-top: 790px;
		height: 200px;
		padding-top: 75px;
		background: url(../img/footer-plank.png) no-repeat center center;
		.footer-contacts {
			margin-top: -10px;
			float: right;
			text-align: center;
			font-size: 1.6rem;
			font-family: 'acrommed';
			span.phone {
				font-size: 3rem;
				font-family: 'acrombold';
			}
		}
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:13;
	background: rgba(51, 49, 49, 0.97);
	display: none;
	cursor: pointer;
}

#modal-form {
	display: none;
	top: 50%;
	margin-top: -155px;
	left: 50%;
	margin-left: -445px;
	height: 310px;
	width: 890px;
	position: fixed;
	z-index: 14;
	form.modal {
		color: #fff;
		height: 310px;
		width: 890px;
		display: block;
		border-radius: 5px;
		border: 1px solid #ffffff;
		top: 50%;
		margin-top: -155px;
		left: 50%;
		margin-left: -445px;
		.left-side {
			padding-left: 20px;
			padding-top: 20px;
			width: 50%;
			height: 100%;
			float: left;
			.form-head {
				padding-bottom: 3rem;
				font-size: 2.5rem;
				color: #Fff;
				font-family: 'acrommed';
			}
			input[type=checkbox] {
				float: left;
				color: #fff;
				margin-left: 25px;
				margin-top: 15px;
				margin-right: 20px;
				color: #Fff;
			}
			p {
				font-family: 'acromreg';
				background: transparent;
				text-align: left;
				font-size: 2.5rem;
			}
		}
		.right-side {
			text-align: center;
			padding-top: 50px;
			width: 50%;
			float: right;
			input[type=text] {
				background-color: transparent;
				background-image: url(../img/username.png);
				background-repeat: no-repeat;
				background-position: 15px 12px;
				height: 45px;
				width: 310px;
				padding: 1rem 0 1rem 4rem;
				border: 1px solid #fff;
				border-radius: 3px;
				color: #fff;
				font-size: 1.6rem;
				font-family: 'acromreg';
			}
			input[name=username] {
				margin-top: 20px;
			}
			input[name=phone] {
				margin-top: 15px;
				background-image: url(../img/phone.png);
				background-repeat: no-repeat;
				background-position: 15px 12px;
			}
			input[type=submit] {
				margin-top: 15px;
				background: #e62e2e;
				font-size: 2.5rem;
				font-family: 'acrommed';
				text-align: center;
				width: 310px;
				height: 45px;
				border: none;
				border-radius: 3px;
			}
		}
	}
}

#order-form {
	position: fixed;
	height: 310px;
	width: 510px;
	top: 50%;
	left: 50%;
	margin-left: -255px;
	margin-top: -155px;
	border-radius: 5px;
	border: 1px solid #fff;
	z-index: 20;
	text-align: center;
	padding: 50px 30px;
	display: none;
	input[type=text] {
		background-color: transparent;
		background-image: url(../img/username.png);
		background-repeat: no-repeat;
		background-position: 15px 12px;
		height: 45px;
		width: 310px;
		padding: 1rem 0 1rem 4rem;
		border: 1px solid #fff;
		border-radius: 3px;
		color: #fff;
		font-size: 1.6rem;
		font-family: 'acromreg';
	}
	input[name=username] {
		margin-top: 20px;
	}
	input[name=phone] {
		margin-top: 15px;
		background-image: url(../img/phone.png);
		background-repeat: no-repeat;
		background-position: 15px 12px;
	}
	input[type=submit] {
		color: #fff;
		margin-top: 15px;
		background: #e62e2e;
		font-size: 2.5rem;
		font-family: 'acrommed';
		text-align: center;
		width: 310px;
		height: 45px;
		border: none;
		border-radius: 3px;
	}
}

#map {
	display: none;
}

.underline {
	text-decoration: underline;
}

input:focus {
	outline: none;
}



.mb75 {
	margin-bottom: 75px !important;
}

.one-item {
	left: 50% !important; 
	margin-left: -260px !important;
}

.little-screen {
	display: inline-block;
}

iframe {
	border: none;
}

@media screen and (max-width: 480px) {
	.free-consult {
		background: @red-color !important;
		color: #fff !important;
		text-align: center !important;
		padding: 0 !important;
	}
	header {
		height: 160px;
		img[alt=suprotec_logo] {
			width: 100%;
			padding-bottom: 20px;
		}
		.contact-block {
			span.phone {
				width: 100%;
				font-size: 2.5rem !important;
				padding-top: 20px;
				margin-top: 25px;
			}	
		}
	}
	.red-bg {
		background-image: none;
		background-color: red;
		padding: 0;
	}
	.white-bg {
		background-image: none;
		background-color: white;
		padding: 0;
	}
	.hero {
		height: 750px; 
		.sub-content {
			margin-top: 50px;
			padding: 0;
		}
	}
	.result {
		.div-header {
			font-size: 3.2rem !important;
		}
		img.right, img.left {
			width: 100%;
			text-align: center;
			padding: 3rem 0;
		}
		.metall-line {
			width: 100%;
		}
	}
	.production {
		div.mt70 {
			margin-top: 70px !important;
		}
		.product {
			text-align: center;
			height: 500px !important;
			background-image: none !important;
			margin-top: 50px !important;
			.open-form {
				position: relative !important;
				top: 20px !important;
				left: 0 !important;
			}
		}
		div.product.one-item {
				left: 0px !important;
				margin-left: 0px !important;
		}
		.div-header {
			margin-top: 150px !important;
		}
		div.no-mt {
			margin-top: 0 !important;
		}
		div.shrus {
			.product-container {
				img {
					margin-top: -50px;
				}
				.blue-price {
					margin-top: -180px;
				}
			}
		}
	}
	.video {
		img.ef {
			width: 100%;
		}
		.to-video {
			img {
				display: none;
			}
			iframe {
				width: 100%;
			}
			.get-consult {
				margin-top: 20px;
			}
		}
		.eff {
			margin-bottom: 20px;
		}
	}
	.address {
		img.metall-line {
			width: 100%;
		}
		
	}
	.sertificates {
		.carousel {
			.carousel-inner {
				a {
					width: 50%;
					img{
						width: 100%;
					}
				}
				a.little-screen {
					display: none;
				}
			} 
		}
		.left.carousel-control, .right.carousel-control {
			margin-top: 60px;
		}
		.free-consult {
			box-shadow: none;
			background: @red-color;
			color: #fff;
			padding: 0;
		}
	}
	.form {
		.div-header {
			margin-bottom: 30px !important;
		}
		.left-side {
			padding-top: 0px;
		}
		.right-side {
			float: none;
		}
		form {
			width: 100%;
			margin-top: 20px;
			text-align: center;
			input, textarea {
				width: 100% !important;
			}
			input[type=text] {
				margin-top: 20px;
			}
		}
	}
	.footer-plank {
		background-image: none !important;
		margin-top: 220px !important;
		.container {
			img {
				width: 100%;
				padding-bottom: 25px;
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.production {
		product {
			width: 49%;
		}
	}
}