* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: acrombold;
    src: url(../fonts/Bold.otf);
}
 
@font-face {
    font-family: acromextrabold;
    src: url(../fonts/ExtraBold.otf);
}
 
@font-face {
    font-family: acromlight;
    src: url(../fonts/Light.otf);
}
 
@font-face {
    font-family: acrommedium;
    src: url(../fonts/Medium.otf);
}
 
@font-face {
    font-family: acromreg;
    src: url(../fonts/Regular.otf);
}
 
@font-face {
    font-family: acromthin;
    src: url(../fonts/Thin.otf);
}

.wrapper {
	width: 1120px;
	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}

body {
	font-family: acromreg;
}

header {
	font-family: acromreg;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
	background: transparent url(../img/header.png) no-repeat center center;
	height: 158px; 
	.logo {
		padding-top: 7px;
		float: left;
	}
	.header-center {
		float: left;
		text-align: center;
		margin: 20px 0 0 0px;
		width: 551px;
		color: #fff;
		.line {
			text-shadow: 0px 1px 1px #777;
			font-size: 20px;
		}
	}
	.phone-block {

		float: left;
		width: 240px;
		margin-top: 20px;
		color: #fff;
		text-align: left;
		.phone {
			font-family: acrombold;
			font-size: 22px;
		}
		.phone-desc {
			font-size: 18px;
		}
	}
}

.hero {
	position: relative;
	z-index: 0;
	width: 100%;
	top: -55px;
	display: block;
	height: 584px;
	background: #fff url(../img/hero.jpg) no-repeat center center;
	.hero-text {
		font-family: acrombold;
		padding-top: 70px;
		text-align: center;
		font-size: 30px;
		color: #0b4591;
		text-shadow:
    		-1px -1px 0 #fff,
    		0px -1px 0 #fff,
    		1px -1px 0 #fff,
    		-1px 1px 0 #fff,
    		0px 1px 0 #fff,
    		1px 1px 0 #fff;
	}
	.hero-action-left {
		font-family: acromreg;
		height: 200px;
		width: 537px;
		float: left;
		margin: 61px 30px 0 100px;
		background: url(../img/hero-action-left.png) no-repeat center center;
		.hero-action-left-content {
			text-align: center;
			margin-top: 50px;
			padding-bottom: 15px;
			color: #fff;
			.hero-action-left-top-text {
				text-shadow: 0px 1px 3px #777;
				font-size: 25px;
				.gift {
					font-size: 37px;
					color: #e74c3c;
					font-weight: bold;
					text-shadow: 
					    -1px -1px 0 #fff,
    					0px -1px 0 #fff,
    					1px -1px 0 #fff,
    					-1px 1px 0 #fff,
    					0px 1px 0 #fff,
    					1px 1px 0 #fff;
				}
			}
			.hero-action-left-bottom-text {
				font-size: 18px;
				max-width: 435px;
				padding-left: 25px;
			}
		}
	}
	form {
		font-family: acromreg;
		margin-top: 55px;
		float: left;
		height: 348px;
		width: 409px;
		background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
		border: 3px solid #fff;
		border-radius: 5px;
		.form-header {
			font-family: acromreg;
			color: #fff;
			text-align: center;
			font-size: 29px;
			padding-top: 20px;
			.size-29 {
				font-size: 29px;
				color: #fff;
			}
			.transform {
				text-transform: uppercase;
				font-family: acrombold;
				color: #fff;
			}
			.size-25 {
				font-size: 25px;
			}
		}
		input {
			font-family: acromreg;
		}
		input[type=text] {
			padding-left: 50px;
			font-size: 18px;
			color: rgba(0,0,0,.65);
			width: 352px;
			height: 47px;
			margin-left: 25px;
			margin-top: 20px;
			border: 1px solid #ddd;
			box-shadow: 0px 1px 2px #777;
			&:focus {
				outline: none;
			}
		}
		input[name=username] {
			background: #fff url(../img/user-icon.png) no-repeat 9px 9px;
		}
		input[name=phone] {
			background: #fff url(../img/phone-icon.png) no-repeat 14px 9px;
		}
		input[type=submit] {
			font-family: acrombold;
			width: 321px;
			height: 57px;
			background: #0e58ac url(../img/form-btn.png) no-repeat center center;
			border: none;
			border-radius: 3px;
			color: #fff;
			font-size: 30px;
			margin: 31px 0 0 45px;
			cursor: pointer;
			&:hover {
				background: lighten(#0e58ac, 5%)
			}
		}
	}
}

.advantages {
	max-height: 310px;
	.header {
		font-size: 45px;
		color: #0b4591;
		text-transform: uppercase;
		text-align: center;
	}
	.row {
		margin-top: 60px;
		figure {
			float: left;
			width: 280px;
			text-align: center;
			img {
				max-height: 93px;
			}
			figcaption {
				padding-top: 10px;
				font-size: 20px;
			}
		}
	}
}

.problems {
	.wave-1 {
		height: 516px;
		width: 100%;
		margin-top: -275px;
		background: url(../img/shape.png) no-repeat center center;
		position: absolute;
		z-index: -1;
	}
	h1 {
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-top: 130px;
	}
	.wrapper .left-block {
		float: left;
		margin: 70px 50px 20px 20px;
		width: 525px;
		height: 767px;
		background: url(../img/red-block.png) no-repeat center center;
		.content {
			display: block;
			padding: 30px 15px 15px 30px;
			.problems-header {
				font-size: 25px;
				color: #fff;
			}
			.line:first-child {
				margin-top: 35px;
			}
			.line {
				margin-top: 20px;
				color: #fff;
				.line-header {
					display: inline;
					span {
						font-size: 20px;
						padding-left:10px;
					}
					.sad-icon {
						height: 20px;
						width: 20px;
						background: url(../img/sad-icon.png) no-repeat center center;
					}
				}
				p {
					padding-top: 10px;
					font-size: 16px;
				}
			}
		}
	}
	.wrapper .right-block {
		float: left;
		width: 525px;
		margin: 70px 0 0 0;
		height: 767px;
		background: url(../img/blue-block.png) no-repeat center center;
		.content {
			display: block;
			padding: 30px 15px 15px 30px;
			.problems-header {
				font-size: 25px;
				color: #fff;
			}
			.line {
				margin-top: 35px;
				color: #fff;
				.line-header {
					display: inline;
					span {
						font-size: 20px;
						padding-left:10px;
					}
					.sad-icon {
						height: 20px;
						width: 20px;
						background: url(../img/sad-icon.png) no-repeat center center;
					}
				}
				p {
					padding-top: 10px;
					font-size: 16px;
				}
			}
		}
	}
}

.tomodal {
	.wave-2 {
		height: 666px;
		width: 100%;
		margin-top: -295px;
		background: url(../img/shape2.png) no-repeat center center;
		position: absolute;
		z-index: -1;
	}
	.wrapper {
		text-align: center;
		color: #fff;
		text-shadow: 0px 1px 1px #777;
		h1 {
			text-transform: uppercase;
			padding-bottom: 15px;
		}
		p {
			font-size: 25px;
			margin-bottom: 15px;
		}
		a {
			&:hover {
				background: lighten(#0e58ac, 5%)
			}
			text-decoration: none;
			div {
				padding-top: 20px;
				margin: 0 auto;
				width: 801px;
				height: 57px;
				background: url(../img/tomodal.png) no-repeat center center;
				font-size: 30px;
				color: #fff;
				text-decoration: none;	
				cursor: pointer;
			}
		}
	}
}

.reasons-to-choose {
	text-align: center;
	margin-top: 50px;
	h1 {
		text-transform: uppercase;
		font-size: 45px;
		color: #0b4591;
	}
	.row {
		margin-top: 30px;
	}
	figure {
		width: 280px;
		float: left;
		text-align: center;
		img {
			max-height: 100px;
		}
		figcaption {
			padding-top: 10px;
			font-size: 20px;
			font-weight: bold;
		} 
	}
}

.tomodal-2 {
	.wave-2 {
		height: 666px;
		width: 100%;
		margin-top: -190px;
		background: url(../img/shape2.png) no-repeat center center;
		position: absolute;
		z-index: -1;
	}
	.wrapper {
		text-align: center;
		color: #fff;
		text-shadow: 0px 1px 1px #777;
		h1 {
			padding-top: 80px;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
		p {
			font-size: 22px;
			margin-bottom: 15px;
		}
		a {
			&:hover {
				background: lighten(#0e58ac, 5%)
			}
			text-decoration: none;
			div {
				padding-top: 20px;
				margin: 0 auto;
				width: 801px;
				height: 57px;
				background: url(../img/tomodal.png) no-repeat center center;
				font-size: 30px;
				color: #fff;
				text-decoration: none;	
				cursor: pointer;
			}
		}
	}
}

.types-of-repairment {
	h1 {
		margin-top: 70px;
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		color: #0b4591;
		font-size: 45px;
	}
	figure {
		float: left;
		width: 280px;
		text-align: center;
		margin: 0 auto;
		img {
			margin-left: 15px;
			display: block;
		}	
		p:first-child {
			padding-top: 15px;
		}
		p {
			text-align: center;
			padding-bottom: 7px;
		}
		.header {
			color: #0b4591;
			font-size: 20px;
			font-weight: bold;
		}
		.price {
			color: #0b4591;
			font-size: 20px;
			font-weight: normal;
		}
		.content {
			max-width: 260px;
			font-size: 14px;
			padding-bottom: 20px;
		}
		a {
			text-decoration: none;
			border-radius: 5px;
		}
		a div {
			cursor: pointer;
			height: 47px;
			width: 247px;
			background: url(../img/form-btn.png) no-repeat center center;
			margin: 0 auto;
			padding-top: 20px;
			color: #fff;
			text-decoration: none;
			font-size: 19px;
			border-radius: 5px;
			font-family: acrombold;
		}
	}
}

.how-we-work {
	.wave-3 {
		height: 1090px;
		width: 100%;
		margin-top: -190px;
		background: url(../img/shape3.png) no-repeat center center;
		position: absolute;
		z-index: -1;
	}
	h1 {
		padding-top: 90px;
		font-size: 45px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}
	img {
		margin-left: 37.5px;
	}
	.row {
		display: inline-block;
	}
	.text1, .text2, .text3 {
		text-align: center;
		margin-bottom: 10px;
		margin-left: 70px;
		margin-top: 25px;
		float: left;
		font-size: 20px;
		color: #fff;
	}
	.text2 {
		margin-left: 160px;
	}
	.text3 {
		margin-left: 180px;
	}
	.text4, .text5, .text6 {
		text-align: center;
		margin-top: 10px;
		color: #fff;
		float: left;
		margin-left: 90px;
		font-size: 20px;
	}
	.text5 {
		margin-left: 140px;
	}
	.text6 {
		margin-left: 140px;
	}
}

.types-of-objects {
	h1 {
		color: #0b4591;
		margin-top: 150px;
		margin-bottom: 30px;
		font-size: 45px;
		text-transform: uppercase;
		text-align: center;
	}
	.row {
		margin-top: 10px;
	}
	.row:last-child {
		margin-top: 20px;
	}
	img {
		float: left;
		margin-left: 20px;
	}
}

.interested {
	.wave-2 {
		height: 666px;
		width: 100%;
		margin-top: -190px;
		background: url(../img/shape2.png) no-repeat center center;
		position: absolute;
		z-index: -1;
	}
	.wrapper {
		text-align: center;
		color: #fff;
		text-shadow: 0px 1px 1px #777;
		h1 {
			padding-top: 80px;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
		p {
			font-size: 22px;
			margin-bottom: 15px;
		}
		a {
			&:hover {
				background: lighten(#0e58ac, 5%)
			}
			text-decoration: none;
			div {
				padding-top: 20px;
				margin: 0 auto;
				width: 801px;
				height: 57px;
				background: url(../img/tomodal.png) no-repeat center center;
				font-size: 30px;
				color: #fff;
				text-decoration: none;	
				cursor: pointer;
			}
		}
	}
}
.works {
	margin-top: 50px;
	h1 {
		margin-top: 100px;
		font-size: 40px;
		color: #0b4591;
		text-transform: uppercase;
		text-align: center;
	}
	.row:first-child {
		margin-top: 50px;
	}
	.row {
		margin-top: 25px;
	}
	img {
		float: left;
	}
	img:last-child {
		float: right;
	}
}

.comments {
	margin-top: 100px;
	margin-bottom: 100px;
	h1 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 60px;
		font-size: 40px;
		color: #0b4591;
	}
	.row:first-child {
		margin-top: 100px;
		width: 100%;
		img {
			float: left;
		}
		p {
			font-size: 18px;
			margin-left: 180px;
			padding-top: 35px;
		}
	}
	.row {
		width: 100%;
		img {
			float: left;
		}
		p {
			font-size: 18px;
			margin-left: 180px;
			padding-top: 35px;
		}
	}
}

.prefooter-back {
	display: block;
	height: 150px;
	margin-top: -100px;
	position: relative;
	z-index: 1;
	background: url(../img/prefooter-back.png) no-repeat center center;
}

.onmap {
	.left-tab {
		text-shadow: 0px 1px #777;
		color: #fff;
		font-family: acrommedium;
		font-size: 33px;
		padding: 20px;
		position: absolute;
		margin-top: -580px;
		float: left;
		background: #81c214;
		height: 128px;
		width: 500px;
		.upper {
			text-transform: uppercase;
			font-size: 42px;
			font-family: acromextrabold;
		}
		.sec-line {
			font-size: 33px;
		}
		.third-line {
			padding-top: 10px;
			font-size: 20px;
		}
	}
	.right-tab {
		position: absolute;
		right: 20px;
		margin-top: -590px;
		float: right;
		form {
			font-family: acromreg;
			float: left;
			height: 348px;
			width: 409px;
			background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
			border: 3px solid #fff;
			border-radius: 5px;
			.form-header {
				font-family: acromreg;
				color: #fff;
				text-align: center;
				font-size: 29px;
				padding-top: 20px;
				.size-29 {
					font-size: 29px;
					color: #fff;
				}
				.transform {
					text-transform: uppercase;
					font-family: acrombold;
					color: #fff;
				}
				.size-25 {
					font-size: 25px;
				}	
			}
			input {
				font-family: acromreg;
			}
			input[type=text] {
				padding-left: 50px;
				font-size: 18px;
				color: rgba(0,0,0,.65);
				width: 352px;
				height: 47px;
				margin-left: 25px;
				margin-top: 20px;
				border: 1px solid #ddd;
				box-shadow: 0px 1px 2px #777;
				&:focus {
					outline: none;
				}
			}
			input[name=username] {
				background: #fff url(../img/user-icon.png) no-repeat 9px 9px;
			}
			input[name=phone] {
				background: #fff url(../img/phone-icon.png) no-repeat 14px 9px;
			}
			input[type=submit] {
				cursor: pointer;
				font-family: acrombold;
				width: 321px;
				height: 57px;
				background: #0e58ac url(../img/form-btn.png) no-repeat center center;
				border: none;
				border-radius: 3px;
				color: #fff;
				font-size: 30px;
				margin: 31px 0 0 45px;
				cursor: pointer;
				&:hover {
					background: lighten(#0e58ac, 5%)
				}
			}
		}
	}
}

footer {
	position: relative;
	z-index: 1;
	margin-top: -150px;
	background: url(../img/footer-back.png) no-repeat center center;
	height: 180px;
	.wrapper {
		padding-top: 50px;
		img {
			float: left;
		}
		.phone-footer {
			padding-top: 35px;
			color: #0b4591;	
			float: right;
			font-size: 24px;
			font-family: acrombold;
	}
	}
}

#overlay {
	position: fixed;
	background: rgba(0,0,0,.65);
	height: 100%;
	width: 100%;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
}

#modal {
	position: relative;
	z-index: 1000;
	display: none;
	form {
		position: fixed;
		top: 30%;
		left: 50%;
		margin-top: -174px;
		margin-left: -204px;
		z-index: 1001;
		font-family: acromreg;
			margin-top: 55px;
			float: left;
			height: 348px;
			width: 409px;
			background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
			border: 3px solid #fff;
			border-radius: 5px;
			.form-header {
				font-family: acromreg;
				color: #fff;
				text-align: center;
				font-size: 29px;
				padding-top: 20px;
				.size-29 {
					font-size: 29px;
					color: #fff;
				}
				.transform {
					text-transform: uppercase;
					font-family: acrombold;
					color: #fff;
				}
				.size-25 {
					font-size: 25px;
				}	
			}
			input {
				font-family: acromreg;
			}
			input[type=text] {
				padding-left: 50px;
				font-size: 18px;
				color: rgba(0,0,0,.65);
				width: 352px;
				height: 47px;
				margin-left: 25px;
				margin-top: 20px;
				border: 1px solid #ddd;
				box-shadow: 0px 1px 2px #777;
				&:focus {
					outline: none;
				}
			}
			input[name=username] {
				background: #fff url(../img/user-icon.png) no-repeat 9px 9px;
			}
			input[name=phone] {
				background: #fff url(../img/phone-icon.png) no-repeat 14px 9px;
			}
			input[type=submit] {
				cursor: pointer;
				font-family: acrombold;
				width: 321px;
				height: 57px;
				background: #0e58ac url(../img/form-btn.png) no-repeat center center;
				border: none;
				border-radius: 3px;
				color: #fff;
				font-size: 30px;
				margin: 31px 0 0 45px;
				cursor: pointer;
				&:hover {
					background: lighten(#0e58ac, 5%)
				}
			}
	}
}