* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: acrombold;
  src: url(../fonts/Bold.otf);
}
@font-face {
  font-family: acromextrabold;
  src: url(../fonts/ExtraBold.otf);
}
@font-face {
  font-family: acromlight;
  src: url(../fonts/Light.otf);
}
@font-face {
  font-family: acrommedium;
  src: url(../fonts/Medium.otf);
}
@font-face {
  font-family: acromreg;
  src: url(../fonts/Regular.otf);
}
@font-face {
  font-family: acromthin;
  src: url(../fonts/Thin.otf);
}
.wrapper {
  width: 1120px;
  margin: 0 auto;
}
.clearfix {
  overflow: auto;
}
body {
  font-family: acromreg;
}
header {
  font-family: acromreg;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  background: transparent url(../img/header.png) no-repeat center center;
  height: 158px;
}
header .logo {
  padding-top: 7px;
  float: left;
}
header .header-center {
  float: left;
  text-align: center;
  margin: 20px 0 0 0px;
  width: 551px;
  color: #fff;
}
header .header-center .line {
  text-shadow: 0px 1px 1px #777;
  font-size: 20px;
}
header .phone-block {
  float: left;
  width: 240px;
  margin-top: 20px;
  color: #fff;
  text-align: left;
}
header .phone-block .phone {
  font-family: acrombold;
  font-size: 22px;
}
header .phone-block .phone-desc {
  font-size: 18px;
}
.hero {
  position: relative;
  z-index: 0;
  width: 100%;
  top: -55px;
  display: block;
  height: 584px;
  background: #ffffff url(../img/hero.jpg) no-repeat center center;
}
.hero .hero-text {
  font-family: acrombold;
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
  color: #0b4591;
  text-shadow: -1px -1px 0 #ffffff, 0px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 0px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.hero .hero-action-left {
  font-family: acromreg;
  height: 200px;
  width: 537px;
  float: left;
  margin: 61px 30px 0 100px;
  background: url(../img/hero-action-left.png) no-repeat center center;
}
.hero .hero-action-left .hero-action-left-content {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
  color: #fff;
}
.hero .hero-action-left .hero-action-left-content .hero-action-left-top-text {
  text-shadow: 0px 1px 3px #777;
  font-size: 25px;
}
.hero .hero-action-left .hero-action-left-content .hero-action-left-top-text .gift {
  font-size: 37px;
  color: #e74c3c;
  font-weight: bold;
  text-shadow: -1px -1px 0 #ffffff, 0px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 0px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.hero .hero-action-left .hero-action-left-content .hero-action-left-bottom-text {
  font-size: 18px;
  max-width: 435px;
  padding-left: 25px;
}
.hero form {
  font-family: acromreg;
  margin-top: 55px;
  float: left;
  height: 348px;
  width: 409px;
  background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
  border: 3px solid #fff;
  border-radius: 5px;
}
.hero form .form-header {
  font-family: acromreg;
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding-top: 20px;
}
.hero form .form-header .size-29 {
  font-size: 29px;
  color: #fff;
}
.hero form .form-header .transform {
  text-transform: uppercase;
  font-family: acrombold;
  color: #fff;
}
.hero form .form-header .size-25 {
  font-size: 25px;
}
.hero form input {
  font-family: acromreg;
}
.hero form input[type=text] {
  padding-left: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  width: 352px;
  height: 47px;
  margin-left: 25px;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #777;
}
.hero form input[type=text]:focus {
  outline: none;
}
.hero form input[name=username] {
  background: #ffffff url(../img/user-icon.png) no-repeat 9px 9px;
}
.hero form input[name=phone] {
  background: #ffffff url(../img/phone-icon.png) no-repeat 14px 9px;
}
.hero form input[type=submit] {
  font-family: acrombold;
  width: 321px;
  height: 57px;
  background: #0e58ac url(../img/form-btn.png) no-repeat center center;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 30px;
  margin: 31px 0 0 45px;
  cursor: pointer;
}
.hero form input[type=submit]:hover {
  background: #1064c4;
}
.advantages {
  max-height: 310px;
}
.advantages .header {
  font-size: 45px;
  color: #0b4591;
  text-transform: uppercase;
  text-align: center;
}
.advantages .row {
  margin-top: 60px;
}
.advantages .row figure {
  float: left;
  width: 280px;
  text-align: center;
}
.advantages .row figure img {
  max-height: 93px;
}
.advantages .row figure figcaption {
  padding-top: 10px;
  font-size: 20px;
}
.problems .wave-1 {
  height: 516px;
  width: 100%;
  margin-top: -275px;
  background: url(../img/shape.png) no-repeat center center;
  position: absolute;
  z-index: -1;
}
.problems h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 130px;
}
.problems .wrapper .left-block {
  float: left;
  margin: 70px 50px 20px 20px;
  width: 525px;
  height: 767px;
  background: url(../img/red-block.png) no-repeat center center;
}
.problems .wrapper .left-block .content {
  display: block;
  padding: 30px 15px 15px 30px;
}
.problems .wrapper .left-block .content .problems-header {
  font-size: 25px;
  color: #fff;
}
.problems .wrapper .left-block .content .line:first-child {
  margin-top: 35px;
}
.problems .wrapper .left-block .content .line {
  margin-top: 20px;
  color: #fff;
}
.problems .wrapper .left-block .content .line .line-header {
  display: inline;
}
.problems .wrapper .left-block .content .line .line-header span {
  font-size: 20px;
  padding-left: 10px;
}
.problems .wrapper .left-block .content .line .line-header .sad-icon {
  height: 20px;
  width: 20px;
  background: url(../img/sad-icon.png) no-repeat center center;
}
.problems .wrapper .left-block .content .line p {
  padding-top: 10px;
  font-size: 16px;
}
.problems .wrapper .right-block {
  float: left;
  width: 525px;
  margin: 70px 0 0 0;
  height: 767px;
  background: url(../img/blue-block.png) no-repeat center center;
}
.problems .wrapper .right-block .content {
  display: block;
  padding: 30px 15px 15px 30px;
}
.problems .wrapper .right-block .content .problems-header {
  font-size: 25px;
  color: #fff;
}
.problems .wrapper .right-block .content .line {
  margin-top: 35px;
  color: #fff;
}
.problems .wrapper .right-block .content .line .line-header {
  display: inline;
}
.problems .wrapper .right-block .content .line .line-header span {
  font-size: 20px;
  padding-left: 10px;
}
.problems .wrapper .right-block .content .line .line-header .sad-icon {
  height: 20px;
  width: 20px;
  background: url(../img/sad-icon.png) no-repeat center center;
}
.problems .wrapper .right-block .content .line p {
  padding-top: 10px;
  font-size: 16px;
}
.tomodal .wave-2 {
  height: 666px;
  width: 100%;
  margin-top: -295px;
  background: url(../img/shape2.png) no-repeat center center;
  position: absolute;
  z-index: -1;
}
.tomodal .wrapper {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #777;
}
.tomodal .wrapper h1 {
  text-transform: uppercase;
  padding-bottom: 15px;
}
.tomodal .wrapper p {
  font-size: 25px;
  margin-bottom: 15px;
}
.tomodal .wrapper a {
  text-decoration: none;
}
.tomodal .wrapper a:hover {
  background: #1064c4;
}
.tomodal .wrapper a div {
  padding-top: 20px;
  margin: 0 auto;
  width: 801px;
  height: 57px;
  background: url(../img/tomodal.png) no-repeat center center;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.reasons-to-choose {
  text-align: center;
  margin-top: 50px;
}
.reasons-to-choose h1 {
  text-transform: uppercase;
  font-size: 45px;
  color: #0b4591;
}
.reasons-to-choose .row {
  margin-top: 30px;
}
.reasons-to-choose figure {
  width: 280px;
  float: left;
  text-align: center;
}
.reasons-to-choose figure img {
  max-height: 100px;
}
.reasons-to-choose figure figcaption {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.tomodal-2 .wave-2 {
  height: 666px;
  width: 100%;
  margin-top: -190px;
  background: url(../img/shape2.png) no-repeat center center;
  position: absolute;
  z-index: -1;
}
.tomodal-2 .wrapper {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #777;
}
.tomodal-2 .wrapper h1 {
  padding-top: 80px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.tomodal-2 .wrapper p {
  font-size: 22px;
  margin-bottom: 15px;
}
.tomodal-2 .wrapper a {
  text-decoration: none;
}
.tomodal-2 .wrapper a:hover {
  background: #1064c4;
}
.tomodal-2 .wrapper a div {
  padding-top: 20px;
  margin: 0 auto;
  width: 801px;
  height: 57px;
  background: url(../img/tomodal.png) no-repeat center center;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.types-of-repairment h1 {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0b4591;
  font-size: 45px;
}
.types-of-repairment figure {
  float: left;
  width: 280px;
  text-align: center;
  margin: 0 auto;
}
.types-of-repairment figure img {
  margin-left: 15px;
  display: block;
}
.types-of-repairment figure p:first-child {
  padding-top: 15px;
}
.types-of-repairment figure p {
  text-align: center;
  padding-bottom: 7px;
}
.types-of-repairment figure .header {
  color: #0b4591;
  font-size: 20px;
  font-weight: bold;
}
.types-of-repairment figure .price {
  color: #0b4591;
  font-size: 20px;
  font-weight: normal;
}
.types-of-repairment figure .content {
  max-width: 260px;
  font-size: 14px;
  padding-bottom: 20px;
}
.types-of-repairment figure a {
  text-decoration: none;
  border-radius: 5px;
}
.types-of-repairment figure a div {
  cursor: pointer;
  height: 47px;
  width: 247px;
  background: url(../img/form-btn.png) no-repeat center center;
  margin: 0 auto;
  padding-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  border-radius: 5px;
  font-family: acrombold;
}
.how-we-work .wave-3 {
  height: 1090px;
  width: 100%;
  margin-top: -190px;
  background: url(../img/shape3.png) no-repeat center center;
  position: absolute;
  z-index: -1;
}
.how-we-work h1 {
  padding-top: 90px;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.how-we-work img {
  margin-left: 37.5px;
}
.how-we-work .row {
  display: inline-block;
}
.how-we-work .text1,
.how-we-work .text2,
.how-we-work .text3 {
  text-align: center;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-top: 25px;
  float: left;
  font-size: 20px;
  color: #fff;
}
.how-we-work .text2 {
  margin-left: 160px;
}
.how-we-work .text3 {
  margin-left: 180px;
}
.how-we-work .text4,
.how-we-work .text5,
.how-we-work .text6 {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  float: left;
  margin-left: 90px;
  font-size: 20px;
}
.how-we-work .text5 {
  margin-left: 140px;
}
.how-we-work .text6 {
  margin-left: 140px;
}
.types-of-objects h1 {
  color: #0b4591;
  margin-top: 150px;
  margin-bottom: 30px;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}
.types-of-objects .row {
  margin-top: 10px;
}
.types-of-objects .row:last-child {
  margin-top: 20px;
}
.types-of-objects img {
  float: left;
  margin-left: 20px;
}
.interested .wave-2 {
  height: 666px;
  width: 100%;
  margin-top: -190px;
  background: url(../img/shape2.png) no-repeat center center;
  position: absolute;
  z-index: -1;
}
.interested .wrapper {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #777;
}
.interested .wrapper h1 {
  padding-top: 80px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.interested .wrapper p {
  font-size: 22px;
  margin-bottom: 15px;
}
.interested .wrapper a {
  text-decoration: none;
}
.interested .wrapper a:hover {
  background: #1064c4;
}
.interested .wrapper a div {
  padding-top: 20px;
  margin: 0 auto;
  width: 801px;
  height: 57px;
  background: url(../img/tomodal.png) no-repeat center center;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.works {
  margin-top: 50px;
}
.works h1 {
  margin-top: 100px;
  font-size: 40px;
  color: #0b4591;
  text-transform: uppercase;
  text-align: center;
}
.works .row:first-child {
  margin-top: 50px;
}
.works .row {
  margin-top: 25px;
}
.works img {
  float: left;
}
.works img:last-child {
  float: right;
}
.comments {
  margin-top: 100px;
  margin-bottom: 100px;
}
.comments h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
  color: #0b4591;
}
.comments .row:first-child {
  margin-top: 100px;
  width: 100%;
}
.comments .row:first-child img {
  float: left;
}
.comments .row:first-child p {
  font-size: 18px;
  margin-left: 180px;
  padding-top: 35px;
}
.comments .row {
  width: 100%;
}
.comments .row img {
  float: left;
}
.comments .row p {
  font-size: 18px;
  margin-left: 180px;
  padding-top: 35px;
}
.prefooter-back {
  display: block;
  height: 150px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  background: url(../img/prefooter-back.png) no-repeat center center;
}
.onmap .left-tab {
  text-shadow: 0px 1px #777;
  color: #fff;
  font-family: acrommedium;
  font-size: 33px;
  padding: 20px;
  position: absolute;
  margin-top: -580px;
  float: left;
  background: #81c214;
  height: 128px;
  width: 500px;
}
.onmap .left-tab .upper {
  text-transform: uppercase;
  font-size: 42px;
  font-family: acromextrabold;
}
.onmap .left-tab .sec-line {
  font-size: 33px;
}
.onmap .left-tab .third-line {
  padding-top: 10px;
  font-size: 20px;
}
.onmap .right-tab {
  position: absolute;
  right: 20px;
  margin-top: -590px;
  float: right;
}
.onmap .right-tab form {
  font-family: acromreg;
  float: left;
  height: 348px;
  width: 409px;
  background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
  border: 3px solid #fff;
  border-radius: 5px;
}
.onmap .right-tab form .form-header {
  font-family: acromreg;
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding-top: 20px;
}
.onmap .right-tab form .form-header .size-29 {
  font-size: 29px;
  color: #fff;
}
.onmap .right-tab form .form-header .transform {
  text-transform: uppercase;
  font-family: acrombold;
  color: #fff;
}
.onmap .right-tab form .form-header .size-25 {
  font-size: 25px;
}
.onmap .right-tab form input {
  font-family: acromreg;
}
.onmap .right-tab form input[type=text] {
  padding-left: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  width: 352px;
  height: 47px;
  margin-left: 25px;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #777;
}
.onmap .right-tab form input[type=text]:focus {
  outline: none;
}
.onmap .right-tab form input[name=username] {
  background: #ffffff url(../img/user-icon.png) no-repeat 9px 9px;
}
.onmap .right-tab form input[name=phone] {
  background: #ffffff url(../img/phone-icon.png) no-repeat 14px 9px;
}
.onmap .right-tab form input[type=submit] {
  font-family: acrombold;
  width: 321px;
  height: 57px;
  background: #0e58ac url(../img/form-btn.png) no-repeat center center;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 30px;
  margin: 31px 0 0 45px;
  cursor: pointer;
}
.onmap .right-tab form input[type=submit]:hover {
  background: #1064c4;
}
footer {
  position: relative;
  z-index: 1;
  margin-top: -150px;
  background: url(../img/footer-back.png) no-repeat center center;
  height: 180px;
}
footer .wrapper {
  padding-top: 50px;
}
footer .wrapper img {
  float: left;
}
footer .wrapper .phone-footer {
  padding-top: 35px;
  color: #0b4591;
  float: right;
  font-size: 24px;
  font-family: acrombold;
}
#overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
}
#modal {
  position: relative;
  z-index: 1000;
  display: none;
}
#modal form {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -174px;
  margin-left: -204px;
  z-index: 1001;
  font-family: acromreg;
  margin-top: 55px;
  float: left;
  height: 348px;
  width: 409px;
  background: #70b414 url(../img/hero-form-bg.png) no-repeat center center;
  border: 3px solid #fff;
  border-radius: 5px;
}
#modal form .form-header {
  font-family: acromreg;
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding-top: 20px;
}
#modal form .form-header .size-29 {
  font-size: 29px;
  color: #fff;
}
#modal form .form-header .transform {
  text-transform: uppercase;
  font-family: acrombold;
  color: #fff;
}
#modal form .form-header .size-25 {
  font-size: 25px;
}
#modal form input {
  font-family: acromreg;
}
#modal form input[type=text] {
  padding-left: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  width: 352px;
  height: 47px;
  margin-left: 25px;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #777;
}
#modal form input[type=text]:focus {
  outline: none;
}
#modal form input[name=username] {
  background: #ffffff url(../img/user-icon.png) no-repeat 9px 9px;
}
#modal form input[name=phone] {
  background: #ffffff url(../img/phone-icon.png) no-repeat 14px 9px;
}
#modal form input[type=submit] {
  font-family: acrombold;
  width: 321px;
  height: 57px;
  background: #0e58ac url(../img/form-btn.png) no-repeat center center;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 30px;
  margin: 31px 0 0 45px;
  cursor: pointer;
}
#modal form input[type=submit]:hover {
  background: #1064c4;
}
